In [300]:
# Basics
import pandas as pd

# Warnings
import warnings
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter('ignore', ConvergenceWarning)
warnings.filterwarnings('ignore')

## ADP

In [301]:
# load in player fantasy stats data as player_df
adp_df = pd.read_csv('data/FantasyPros_2022_Overall_ADP_Rankings.csv')
adp_df.head()

,Rank,Player,Team,Bye,POS,ESPN,RTSports,MFL,Fantrax,FFC,Sleeper,AVG
0,1.0,Jonathan Taylor,IND,14.0,RB1,1.0,1.0,NaN,1.0,NaN,1.0,1.0
1,2.0,Christian McCaffrey,CAR,13.0,RB2,2.0,2.0,NaN,3.0,NaN,2.0,2.8
2,3.0,Austin Ekeler,LAC,8.0,RB3,4.0,3.0,NaN,2.0,NaN,4.0,3.0
3,4.0,Cooper Kupp,LAR,7.0,WR1,3.0,6.0,NaN,4.0,NaN,5.0,4.4
4,5.0,Derrick Henry,TEN,6.0,RB4,5.0,8.0,NaN,6.0,NaN,3.0,5.0

In [302]:
#Columns to drop
to_drop = ['Bye', 'Team', 'POS', 'ESPN', 'RTSports', 'MFL', 'Fantrax', 'FFC', 'Sleeper', 'AVG']

# Drop columns
player_adp = adp_df.drop(to_drop, axis=1).dropna().head(200)
player_adp.head()

   Rank               Player
0   1.0      Jonathan Taylor
1   2.0  Christian McCaffrey
2   3.0        Austin Ekeler
3   4.0          Cooper Kupp
4   5.0        Derrick Henry

## Quarterbacks

### 2017

In [303]:
# assign file names
qb_2017 = ['qb_2017_w1','qb_2017_w2','qb_2017_w3','qb_2017_w4','qb_2017_w5','qb_2017_w6','qb_2017_w7'
          ,'qb_2017_w8','qb_2017_w9','qb_2017_w10','qb_2017_w11','qb_2017_w12','qb_2017_w13','qb_2017_w14'
          ,'qb_2017_w15','qb_2017_w16','qb_2017_w17']
 
# create empty list
qb_2017_list = []
 
# append datasets into the list
for i in range(len(qb_2017)):
    temp_df = pd.read_csv("./data/qb/2017/"+qb_2017[i]+".csv")
    qb_2017_list.append(temp_df)

# Assign new column for game date
qb_2017_list[0]['Date'] = pd.to_datetime('9/7/2017')    
qb_2017_list[1]['Date'] = pd.to_datetime('9/14/2017')
qb_2017_list[2]['Date'] = pd.to_datetime('9/21/2017')
qb_2017_list[3]['Date'] = pd.to_datetime('9/28/2017')
qb_2017_list[4]['Date'] = pd.to_datetime('10/5/2017')
qb_2017_list[5]['Date'] = pd.to_datetime('10/12/2017')
qb_2017_list[6]['Date'] = pd.to_datetime('10/19/2017')
qb_2017_list[7]['Date'] = pd.to_datetime('10/26/2017')
qb_2017_list[8]['Date'] = pd.to_datetime('11/2/2017')
qb_2017_list[9]['Date'] = pd.to_datetime('11/9/2017')
qb_2017_list[10]['Date'] = pd.to_datetime('11/16/2017')
qb_2017_list[11]['Date'] = pd.to_datetime('11/23/2017')
qb_2017_list[12]['Date'] = pd.to_datetime('11/30/2017')
qb_2017_list[13]['Date'] = pd.to_datetime('12/7/2017')
qb_2017_list[14]['Date'] = pd.to_datetime('12/14/2017')
qb_2017_list[15]['Date'] = pd.to_datetime('12/23/2017')
qb_2017_list[16]['Date'] = pd.to_datetime('12/31/2017')

# Merge dataframe with dates
qb_2017_df = pd.concat(qb_2017_list, axis=0, ignore_index=True).dropna()

### 2018

In [304]:
# assign file names
qb_2018 = ['qb_2018_w1','qb_2018_w2','qb_2018_w3','qb_2018_w4','qb_2018_w5','qb_2018_w6','qb_2018_w7'
          ,'qb_2018_w8','qb_2018_w9','qb_2018_w10','qb_2018_w11','qb_2018_w12','qb_2018_w13','qb_2018_w14'
          ,'qb_2018_w15','qb_2018_w16','qb_2018_w17']
 
# create empty list
qb_2018_list = []
 
# append datasets into the list
for i in range(len(qb_2018)):
    temp_df = pd.read_csv("./data/qb/2018/"+qb_2018[i]+".csv")
    qb_2018_list.append(temp_df)

# Assign new column for game date
qb_2018_list[0]['Date'] = pd.to_datetime('9/6/2018')    
qb_2018_list[1]['Date'] = pd.to_datetime('9/13/2018')
qb_2018_list[2]['Date'] = pd.to_datetime('9/20/2018')
qb_2018_list[3]['Date'] = pd.to_datetime('9/27/2018')
qb_2018_list[4]['Date'] = pd.to_datetime('10/4/2018')
qb_2018_list[5]['Date'] = pd.to_datetime('10/11/2018')
qb_2018_list[6]['Date'] = pd.to_datetime('10/18/2018')
qb_2018_list[7]['Date'] = pd.to_datetime('10/25/2018')
qb_2018_list[8]['Date'] = pd.to_datetime('11/1/2018')
qb_2018_list[9]['Date'] = pd.to_datetime('11/8/2018')
qb_2018_list[10]['Date'] = pd.to_datetime('11/15/2018')
qb_2018_list[11]['Date'] = pd.to_datetime('11/22/2018')
qb_2018_list[12]['Date'] = pd.to_datetime('11/29/2018')
qb_2018_list[13]['Date'] = pd.to_datetime('12/6/2018')
qb_2018_list[14]['Date'] = pd.to_datetime('12/13/2018')
qb_2018_list[15]['Date'] = pd.to_datetime('12/22/2018')
qb_2018_list[16]['Date'] = pd.to_datetime('12/30/2018')

# Merge dataframe with dates
qb_2018_df = pd.concat(qb_2018_list, axis=0, ignore_index=True).dropna()

### 2019

In [305]:
# assign file names
qb_2019 = ['qb_2019_w1','qb_2019_w2','qb_2019_w3','qb_2019_w4','qb_2019_w5','qb_2019_w6','qb_2019_w7'
          ,'qb_2019_w8','qb_2019_w9','qb_2019_w10','qb_2019_w11','qb_2019_w12','qb_2019_w13','qb_2019_w14'
          ,'qb_2019_w15','qb_2019_w16','qb_2019_w17']
 
# create empty list
qb_2019_list = []
 
# append datasets into the list
for i in range(len(qb_2019)):
    temp_df = pd.read_csv("./data/qb/2019/"+qb_2019[i]+".csv")
    qb_2019_list.append(temp_df)

# Assign new column for game date
qb_2019_list[0]['Date'] = pd.to_datetime('9/5/2019')    
qb_2019_list[1]['Date'] = pd.to_datetime('9/12/2019')
qb_2019_list[2]['Date'] = pd.to_datetime('9/19/2019')
qb_2019_list[3]['Date'] = pd.to_datetime('9/26/2019')
qb_2019_list[4]['Date'] = pd.to_datetime('10/3/2019')
qb_2019_list[5]['Date'] = pd.to_datetime('10/10/2019')
qb_2019_list[6]['Date'] = pd.to_datetime('10/17/2019')
qb_2019_list[7]['Date'] = pd.to_datetime('10/24/2019')
qb_2019_list[8]['Date'] = pd.to_datetime('10/31/2019')
qb_2019_list[9]['Date'] = pd.to_datetime('11/7/2019')
qb_2019_list[10]['Date'] = pd.to_datetime('11/14/2019')
qb_2019_list[11]['Date'] = pd.to_datetime('11/21/2019')
qb_2019_list[12]['Date'] = pd.to_datetime('11/28/2019')
qb_2019_list[13]['Date'] = pd.to_datetime('12/5/2019')
qb_2019_list[14]['Date'] = pd.to_datetime('12/12/2019')
qb_2019_list[15]['Date'] = pd.to_datetime('12/20/2019')
qb_2019_list[16]['Date'] = pd.to_datetime('12/27/2019')

# Merge dataframe with dates
qb_2019_df = pd.concat(qb_2019_list, axis=0, ignore_index=True).dropna()

### 2020

In [306]:
# assign file names
qb_2020 = ['qb_2020_w1','qb_2020_w2','qb_2020_w3','qb_2020_w4','qb_2020_w5','qb_2020_w6','qb_2020_w7'
          ,'qb_2020_w8','qb_2020_w9','qb_2020_w10','qb_2020_w11','qb_2020_w12','qb_2020_w13','qb_2020_w14'
          ,'qb_2020_w15','qb_2020_w16','qb_2020_w17']
 
# create empty list
qb_2020_list = []
 
# append datasets into the list
for i in range(len(qb_2020)):
    temp_df = pd.read_csv("./data/qb/2020/"+qb_2020[i]+".csv")
    qb_2020_list.append(temp_df)

# Assign new column for game date
qb_2020_list[0]['Date'] = pd.to_datetime('9/10/2020')    
qb_2020_list[1]['Date'] = pd.to_datetime('9/17/2020')
qb_2020_list[2]['Date'] = pd.to_datetime('9/24/2020')
qb_2020_list[3]['Date'] = pd.to_datetime('10/1/2020')
qb_2020_list[4]['Date'] = pd.to_datetime('10/8/2020')
qb_2020_list[5]['Date'] = pd.to_datetime('10/15/2020')
qb_2020_list[6]['Date'] = pd.to_datetime('10/22/2020')
qb_2020_list[7]['Date'] = pd.to_datetime('10/29/2020')
qb_2020_list[8]['Date'] = pd.to_datetime('11/5/2020')
qb_2020_list[9]['Date'] = pd.to_datetime('11/12/2020')
qb_2020_list[10]['Date'] = pd.to_datetime('11/19/2020')
qb_2020_list[11]['Date'] = pd.to_datetime('11/26/2020')
qb_2020_list[12]['Date'] = pd.to_datetime('12/3/2020')
qb_2020_list[13]['Date'] = pd.to_datetime('12/10/2020')
qb_2020_list[14]['Date'] = pd.to_datetime('12/17/2020')
qb_2020_list[15]['Date'] = pd.to_datetime('12/24/2020')
qb_2020_list[16]['Date'] = pd.to_datetime('1/3/2021')

# Merge dataframe with dates
qb_2020_df = pd.concat(qb_2020_list, axis=0, ignore_index=True).dropna()

### 2021

In [307]:
# assign file names
qb_2021 = ['qb_2021_w1','qb_2021_w2','qb_2021_w3','qb_2021_w4','qb_2021_w5','qb_2021_w6','qb_2021_w7'
          ,'qb_2021_w8','qb_2021_w9','qb_2021_w10','qb_2021_w11','qb_2021_w12','qb_2021_w13','qb_2021_w14'
          ,'qb_2021_w15','qb_2021_w16','qb_2021_w17']
 
# create empty list
qb_2021_list = []
 
# append datasets into the list
for i in range(len(qb_2021)):
    temp_df = pd.read_csv("./data/qb/2021/"+qb_2021[i]+".csv")
    qb_2021_list.append(temp_df)

# Assign new column for game date
qb_2021_list[0]['Date'] = pd.to_datetime('9/9/2021')    
qb_2021_list[1]['Date'] = pd.to_datetime('9/16/2021')
qb_2021_list[2]['Date'] = pd.to_datetime('9/23/2021')
qb_2021_list[3]['Date'] = pd.to_datetime('09/30/2021')
qb_2021_list[4]['Date'] = pd.to_datetime('10/7/2021')
qb_2021_list[5]['Date'] = pd.to_datetime('10/14/2021')
qb_2021_list[6]['Date'] = pd.to_datetime('10/21/2021')
qb_2021_list[7]['Date'] = pd.to_datetime('10/28/2021')
qb_2021_list[8]['Date'] = pd.to_datetime('11/4/2021')
qb_2021_list[9]['Date'] = pd.to_datetime('11/11/2021')
qb_2021_list[10]['Date'] = pd.to_datetime('11/18/2021')
qb_2021_list[11]['Date'] = pd.to_datetime('11/25/2021')
qb_2021_list[12]['Date'] = pd.to_datetime('12/2/2021')
qb_2021_list[13]['Date'] = pd.to_datetime('12/9/2021')
qb_2021_list[14]['Date'] = pd.to_datetime('12/16/2021')
qb_2021_list[15]['Date'] = pd.to_datetime('12/23/2021')
qb_2021_list[16]['Date'] = pd.to_datetime('1/2/2022')

# Merge dataframe with dates
qb_2021_df = pd.concat(qb_2021_list, axis=0, ignore_index=True).dropna()

### Merge QB Stats

In [308]:
# Make list of dataframe to merge all 5 year together
qb_list = [qb_2017_df, qb_2018_df, qb_2019_df, qb_2020_df, qb_2021_df]

# Merge dataframes
qb_df = pd.concat(qb_list, axis=0, ignore_index=True).dropna()
qb_df.head()

,Rank,Player,CMP,ATT,PCT,YDS,Y/A,TD,INT,SACKS,ATT.1,YDS.1,TD.1,FL,G,FPTS,FPTS/G,ROST,Date
0,1.0,Alex Smith (FA),28.0,35.0,80.0,368.0,10.5,4.0,0.0,3.0,5.0,3.0,0.0,0.0,1.0,31.0,31.0,5.0%,2017-09-07
1,2.0,Matthew Stafford (LAR),29.0,41.0,70.7,292.0,7.1,4.0,1.0,1.0,2.0,14.0,0.0,0.0,1.0,27.1,27.1,94.0%,2017-09-07
2,3.0,Sam Bradford (FA),27.0,32.0,84.4,346.0,10.8,3.0,0.0,1.0,2.0,-3.0,0.0,0.0,1.0,25.5,25.5,0.0%,2017-09-07
3,4.0,Trevor Siemian (CHI),17.0,28.0,60.7,219.0,7.8,2.0,1.0,4.0,6.0,19.0,1.0,0.0,1.0,22.7,22.7,0.0%,2017-09-07
4,5.0,Carson Wentz (WAS),26.0,39.0,66.7,307.0,7.9,2.0,1.0,2.0,4.0,6.0,0.0,1.0,1.0,18.9,18.9,14.0%,2017-09-07

In [309]:
#Columns to drop
to_drop = ['Rank', 'CMP', 'ATT', 'PCT', 'YDS', 'Y/A', 'TD', 'INT', 'SACKS', 'ATT.1', 'YDS.1', 'TD.1', 'FL', 
          'G', 'FPTS/G', 'ROST']

# Drop columns
qb_ts = qb_df.drop(to_drop, axis=1) 
qb_ts['Player'] = qb_ts['Player'].str.split('(').str.get(0)
qb_ts['Player'] = qb_ts['Player'].astype(str).str.strip()

# Merge player data by making dictionary and converting to DataFrame
qb_ts = pd.DataFrame(qb_ts.groupby(['Player'])['Date', 'FPTS'].apply(lambda grp: dict(grp.values))
                     .to_dict()).sort_index()

qb_ts.head()

,AJ McCarron,Aaron Rodgers,Alex Smith,Alex Tanney,Andrew Luck,Andy Dalton,Anthony Brown,Armani Rogers,Austin Davis,Bailey Zappe,...,Trace McSorley,Trevor Lawrence,Trevor Siemian,Trey Lance,Tua Tagovailoa,Tyler Bray,Tyler Huntley,Tyrod Taylor,Will Grier,Zach Wilson
2017-09-07,NaN,16.5,31.0,NaN,NaN,-3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,22.7,NaN,NaN,NaN,NaN,18.8,NaN,NaN
2017-09-14,NaN,18.5,16.1,NaN,NaN,9.5,NaN,NaN,NaN,NaN,...,NaN,NaN,22.6,NaN,NaN,NaN,NaN,10.5,NaN,NaN
2017-09-21,NaN,24.8,15.1,NaN,NaN,16.3,NaN,NaN,NaN,NaN,...,NaN,NaN,7.6,NaN,NaN,NaN,NaN,17.8,NaN,NaN
2017-09-28,0.0,23.1,27.3,NaN,NaN,28.3,NaN,NaN,NaN,NaN,...,NaN,NaN,11.3,NaN,NaN,NaN,NaN,12.5,NaN,NaN
2017-10-05,NaN,24.0,26.9,NaN,NaN,13.3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.9,NaN,NaN

### Keep QBs in Top 200 ADP

In [310]:
# List of columns to drop for players not in top 200 adp
dropped_columns = []

# Loop through columns and drop players not in adp
for player in qb_ts.columns.values:
    if player not in player_adp['Player'].values:
        dropped_columns.append(player)


qb_ts = qb_ts.drop(dropped_columns, axis=1)
qb_ts.to_csv('data/qb_ts.csv')

In [311]:
qb_ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85 entries, 2017-09-07 to 2022-01-02
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Aaron Rodgers       72 non-null     float64
 1   Baker Mayfield      63 non-null     float64
 2   Dak Prescott        70 non-null     float64
 3   Derek Carr          80 non-null     float64
 4   Deshaun Watson      71 non-null     float64
 5   Jalen Hurts         32 non-null     float64
 6   Jameis Winston      61 non-null     float64
 7   Joe Burrow          27 non-null     float64
 8   Josh Allen          61 non-null     float64
 9   Justin Fields       17 non-null     float64
 10  Justin Herbert      32 non-null     float64
 11  Kirk Cousins        80 non-null     float64
 12  Kyler Murray        49 non-null     float64
 13  Lamar Jackson       63 non-null     float64
 14  Mac Jones           17 non-null     float64
 15  Matt Ryan           80 non-null     float64
 16  Matthew Stafford    73 non-null     float64
 17  Patrick Mahomes II  63 non-null     float64
 18  Russell Wilson      81 non-null     float64
 19  Ryan Tannehill      56 non-null     float64
 20  Tom Brady           81 non-null     float64
 21  Trevor Lawrence     17 non-null     float64
 22  Trey Lance          17 non-null     float64
 23  Tua Tagovailoa      27 non-null     float64
dtypes: float64(24)
memory usage: 16.6 KB

## Running Backs

### 2017

In [312]:
# assign file names
rb_2017 = ['rb_2017_w1','rb_2017_w2','rb_2017_w3','rb_2017_w4','rb_2017_w5','rb_2017_w6','rb_2017_w7'
          ,'rb_2017_w8','rb_2017_w9','rb_2017_w10','rb_2017_w11','rb_2017_w12','rb_2017_w13','rb_2017_w14'
          ,'rb_2017_w15','rb_2017_w16','rb_2017_w17']
 
# create empty list
rb_2017_list = []
 
# append datasets into the list
for i in range(len(rb_2017)):
    temp_df = pd.read_csv("./data/rb/2017/"+rb_2017[i]+".csv")
    rb_2017_list.append(temp_df)

# Assign new column for game date
rb_2017_list[0]['Date'] = pd.to_datetime('9/7/2017')    
rb_2017_list[1]['Date'] = pd.to_datetime('9/14/2017')
rb_2017_list[2]['Date'] = pd.to_datetime('9/21/2017')
rb_2017_list[3]['Date'] = pd.to_datetime('9/28/2017')
rb_2017_list[4]['Date'] = pd.to_datetime('10/5/2017')
rb_2017_list[5]['Date'] = pd.to_datetime('10/12/2017')
rb_2017_list[6]['Date'] = pd.to_datetime('10/19/2017')
rb_2017_list[7]['Date'] = pd.to_datetime('10/26/2017')
rb_2017_list[8]['Date'] = pd.to_datetime('11/2/2017')
rb_2017_list[9]['Date'] = pd.to_datetime('11/9/2017')
rb_2017_list[10]['Date'] = pd.to_datetime('11/16/2017')
rb_2017_list[11]['Date'] = pd.to_datetime('11/23/2017')
rb_2017_list[12]['Date'] = pd.to_datetime('11/30/2017')
rb_2017_list[13]['Date'] = pd.to_datetime('12/7/2017')
rb_2017_list[14]['Date'] = pd.to_datetime('12/14/2017')
rb_2017_list[15]['Date'] = pd.to_datetime('12/23/2017')
rb_2017_list[16]['Date'] = pd.to_datetime('12/31/2017')
    
# Merge dataframe with dates    
rb_2017_df = pd.concat(rb_2017_list, axis=0, ignore_index=True).dropna()

### 2018

In [313]:
# assign file names
rb_2018 = ['rb_2018_w1','rb_2018_w2','rb_2018_w3','rb_2018_w4','rb_2018_w5','rb_2018_w6','rb_2018_w7'
          ,'rb_2018_w8','rb_2018_w9','rb_2018_w10','rb_2018_w11','rb_2018_w12','rb_2018_w13','rb_2018_w14'
          ,'rb_2018_w15','rb_2018_w16','rb_2018_w17']
 
# create empty list
rb_2018_list = []
 
# append datasets into the list
for i in range(len(rb_2018)):
    temp_df = pd.read_csv("./data/rb/2018/"+rb_2018[i]+".csv")
    rb_2018_list.append(temp_df)

# Assign new column for game date
rb_2018_list[0]['Date'] = pd.to_datetime('9/6/2018')    
rb_2018_list[1]['Date'] = pd.to_datetime('9/13/2018')
rb_2018_list[2]['Date'] = pd.to_datetime('9/20/2018')
rb_2018_list[3]['Date'] = pd.to_datetime('9/27/2018')
rb_2018_list[4]['Date'] = pd.to_datetime('10/4/2018')
rb_2018_list[5]['Date'] = pd.to_datetime('10/11/2018')
rb_2018_list[6]['Date'] = pd.to_datetime('10/18/2018')
rb_2018_list[7]['Date'] = pd.to_datetime('10/25/2018')
rb_2018_list[8]['Date'] = pd.to_datetime('11/1/2018')
rb_2018_list[9]['Date'] = pd.to_datetime('11/8/2018')
rb_2018_list[10]['Date'] = pd.to_datetime('11/15/2018')
rb_2018_list[11]['Date'] = pd.to_datetime('11/22/2018')
rb_2018_list[12]['Date'] = pd.to_datetime('11/29/2018')
rb_2018_list[13]['Date'] = pd.to_datetime('12/6/2018')
rb_2018_list[14]['Date'] = pd.to_datetime('12/13/2018')
rb_2018_list[15]['Date'] = pd.to_datetime('12/22/2018')
rb_2018_list[16]['Date'] = pd.to_datetime('12/30/2018')

# Merge dataframe with dates
rb_2018_df = pd.concat(rb_2018_list, axis=0, ignore_index=True).dropna()

### 2019

In [314]:
# assign file names
rb_2019 = ['rb_2019_w1','rb_2019_w2','rb_2019_w3','rb_2019_w4','rb_2019_w5','rb_2019_w6','rb_2019_w7'
          ,'rb_2019_w8','rb_2019_w9','rb_2019_w10','rb_2019_w11','rb_2019_w12','rb_2019_w13','rb_2019_w14'
          ,'rb_2019_w15','rb_2019_w16','rb_2019_w17']
 
# create empty list
rb_2019_list = []
 
# append datasets into the list
for i in range(len(rb_2019)):
    temp_df = pd.read_csv("./data/rb/2019/"+rb_2019[i]+".csv")
    rb_2019_list.append(temp_df)

# Assign new column for game date
rb_2019_list[0]['Date'] = pd.to_datetime('9/5/2019')    
rb_2019_list[1]['Date'] = pd.to_datetime('9/12/2019')
rb_2019_list[2]['Date'] = pd.to_datetime('9/19/2019')
rb_2019_list[3]['Date'] = pd.to_datetime('9/26/2019')
rb_2019_list[4]['Date'] = pd.to_datetime('10/3/2019')
rb_2019_list[5]['Date'] = pd.to_datetime('10/10/2019')
rb_2019_list[6]['Date'] = pd.to_datetime('10/17/2019')
rb_2019_list[7]['Date'] = pd.to_datetime('10/24/2019')
rb_2019_list[8]['Date'] = pd.to_datetime('10/31/2019')
rb_2019_list[9]['Date'] = pd.to_datetime('11/7/2019')
rb_2019_list[10]['Date'] = pd.to_datetime('11/14/2019')
rb_2019_list[11]['Date'] = pd.to_datetime('11/21/2019')
rb_2019_list[12]['Date'] = pd.to_datetime('11/28/2019')
rb_2019_list[13]['Date'] = pd.to_datetime('12/5/2019')
rb_2019_list[14]['Date'] = pd.to_datetime('12/12/2019')
rb_2019_list[15]['Date'] = pd.to_datetime('12/20/2019')
rb_2019_list[16]['Date'] = pd.to_datetime('12/27/2019')

# Merge dataframe with dates
rb_2019_df = pd.concat(rb_2019_list, axis=0, ignore_index=True).dropna()

### 2020

In [315]:
# assign file names
rb_2020 = ['rb_2020_w1','rb_2020_w2','rb_2020_w3','rb_2020_w4','rb_2020_w5','rb_2020_w6','rb_2020_w7'
          ,'rb_2020_w8','rb_2020_w9','rb_2020_w10','rb_2020_w11','rb_2020_w12','rb_2020_w13','rb_2020_w14'
          ,'rb_2020_w15','rb_2020_w16','rb_2020_w17']
 
# create empty list
rb_2020_list = []
 
# append datasets into the list
for i in range(len(rb_2020)):
    temp_df = pd.read_csv("./data/rb/2020/"+rb_2020[i]+".csv")
    rb_2020_list.append(temp_df)

# Assign new column for game date
rb_2020_list[0]['Date'] = pd.to_datetime('9/10/2020')    
rb_2020_list[1]['Date'] = pd.to_datetime('9/17/2020')
rb_2020_list[2]['Date'] = pd.to_datetime('9/24/2020')
rb_2020_list[3]['Date'] = pd.to_datetime('10/1/2020')
rb_2020_list[4]['Date'] = pd.to_datetime('10/8/2020')
rb_2020_list[5]['Date'] = pd.to_datetime('10/15/2020')
rb_2020_list[6]['Date'] = pd.to_datetime('10/22/2020')
rb_2020_list[7]['Date'] = pd.to_datetime('10/29/2020')
rb_2020_list[8]['Date'] = pd.to_datetime('11/5/2020')
rb_2020_list[9]['Date'] = pd.to_datetime('11/12/2020')
rb_2020_list[10]['Date'] = pd.to_datetime('11/19/2020')
rb_2020_list[11]['Date'] = pd.to_datetime('11/26/2020')
rb_2020_list[12]['Date'] = pd.to_datetime('12/3/2020')
rb_2020_list[13]['Date'] = pd.to_datetime('12/10/2020')
rb_2020_list[14]['Date'] = pd.to_datetime('12/17/2020')
rb_2020_list[15]['Date'] = pd.to_datetime('12/24/2020')
rb_2020_list[16]['Date'] = pd.to_datetime('1/3/2021')

# Merge dataframe with dates
rb_2020_df = pd.concat(rb_2020_list, axis=0, ignore_index=True).dropna()

### 2021

In [316]:
# assign file names
rb_2021 = ['rb_2021_w1','rb_2021_w2','rb_2021_w3','rb_2021_w4','rb_2021_w5','rb_2021_w6','rb_2021_w7'
          ,'rb_2021_w8','rb_2021_w9','rb_2021_w10','rb_2021_w11','rb_2021_w12','rb_2021_w13','rb_2021_w14'
          ,'rb_2021_w15','rb_2021_w16','rb_2021_w17']
 
# create empty list
rb_2021_list = []
 
# append datasets into the list
for i in range(len(rb_2021)):
    temp_df = pd.read_csv("./data/rb/2021/"+rb_2021[i]+".csv")
    rb_2021_list.append(temp_df)

# Assign new column for game date
rb_2021_list[0]['Date'] = pd.to_datetime('9/9/2021')    
rb_2021_list[1]['Date'] = pd.to_datetime('9/6/2021')
rb_2021_list[2]['Date'] = pd.to_datetime('9/23/2021')
rb_2021_list[3]['Date'] = pd.to_datetime('09/30/2021')
rb_2021_list[4]['Date'] = pd.to_datetime('10/7/2021')
rb_2021_list[5]['Date'] = pd.to_datetime('10/14/2021')
rb_2021_list[6]['Date'] = pd.to_datetime('10/21/2021')
rb_2021_list[7]['Date'] = pd.to_datetime('10/28/2021')
rb_2021_list[8]['Date'] = pd.to_datetime('11/4/2021')
rb_2021_list[9]['Date'] = pd.to_datetime('11/11/2021')
rb_2021_list[10]['Date'] = pd.to_datetime('11/18/2021')
rb_2021_list[11]['Date'] = pd.to_datetime('11/25/2021')
rb_2021_list[12]['Date'] = pd.to_datetime('12/2/2021')
rb_2021_list[13]['Date'] = pd.to_datetime('12/9/2021')
rb_2021_list[14]['Date'] = pd.to_datetime('12/16/2021')
rb_2021_list[15]['Date'] = pd.to_datetime('12/23/2021')
rb_2021_list[16]['Date'] = pd.to_datetime('1/2/2022')

# Merge dataframe with dates
rb_2021_df = pd.concat(rb_2021_list, axis=0, ignore_index=True).dropna()

### Merge RB Stats

In [317]:
# Make list of dataframe to merge all 5 year together
rb_list = [rb_2017_df, rb_2018_df, rb_2019_df, rb_2020_df, rb_2021_df]

# Merge dataframes
rb_df = pd.concat(rb_list, axis=0, ignore_index=True).dropna()
rb_df.head()

,Rank,Player,ATT,YDS,Y/A,LG,20+,TD,REC,TGT,YDS.1,Y/R,TD.1,FL,G,FPTS,FPTS/G,ROST,Date
0,1.0,Kareem Hunt (CLE),17.0,148.0,8.7,58.0,1.0,1.0,5.0,5.0,98.0,19.6,2.0,1.0,1.0,45.6,45.6,89.0%,2017-09-07
1,2.0,Tarik Cohen (FA),5.0,66.0,13.2,46.0,1.0,0.0,8.0,12.0,47.0,5.9,1.0,0.0,1.0,25.3,25.3,0.0%,2017-09-07
2,3.0,Mike Gillislee (FA),15.0,45.0,3.0,16.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22.5,22.5,0.0%,2017-09-07
3,4.0,Leonard Fournette (TB),26.0,100.0,3.8,17.0,0.0,1.0,3.0,3.0,24.0,8.0,0.0,0.0,1.0,21.4,21.4,100.0%,2017-09-07
4,5.0,LeSean McCoy (FA),22.0,110.0,5.0,27.0,3.0,0.0,5.0,6.0,49.0,9.8,0.0,0.0,1.0,20.9,20.9,2.0%,2017-09-07

### Keep RBs in Top 200 ADP

In [318]:
#Columns to drop
to_drop = ['Rank', 'ATT', 'YDS', 'Y/A', 'LG', '20+', 'TD', 'REC', 'TGT', 'Y/R', 'YDS.1', 'TD.1', 'FL', 
          'G', 'FPTS/G', 'ROST']

# Drop columns
rb_ts = rb_df.drop(to_drop, axis=1) 
rb_ts['Player'] = rb_ts['Player'].str.split('(').str.get(0)
rb_ts['Player'] = rb_ts['Player'].astype(str).str.strip()

# Merge player data by making dictionary and converting to DataFrame
rb_ts = pd.DataFrame(rb_ts.groupby(['Player'])['Date', 'FPTS'].apply(lambda grp: dict(grp.values))
                     .to_dict()).sort_index()

rb_ts.head()

,AJ Dillon,Aaron Jones,Aaron Ripkowski,Aaron Shampklin,Abram Smith,Adam Prentice,Adrian Killins Jr.,Adrian Peterson,Akeem Hunt,Alec Ingold,...,Wendell Smallwood,Wes Hills,Xavier Jones,ZaQuandre White,Zach Line,Zach Zenner,Zack Moss,Zamir White,Zander Horvath,Zonovan Knight
2017-09-07,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.8,NaN,NaN,...,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-14,NaN,0.0,1.2,NaN,NaN,NaN,NaN,2.6,0.0,NaN,...,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-21,NaN,0.0,0.0,NaN,NaN,NaN,NaN,5.7,0.0,NaN,...,9.0,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN
2017-09-28,NaN,10.9,2.0,NaN,NaN,NaN,NaN,0.4,0.0,NaN,...,17.9,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2017-10-05,NaN,20.4,0.2,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,7.1,NaN,NaN,NaN,NaN

In [319]:
# List of columns to drop for players not in top 200 adp
dropped_columns = []

# Loop through columns and drop players not in adp
for player in rb_ts.columns.values:
    if player not in player_adp['Player'].values:
        dropped_columns.append(player)


rb_ts = rb_ts.drop(dropped_columns, axis=1)
rb_ts.to_csv('data/rb_ts.csv')

In [320]:
rb_ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85 entries, 2017-09-07 to 2022-01-02
Data columns (total 57 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   AJ Dillon              28 non-null     float64
 1   Aaron Jones            71 non-null     float64
 2   Alexander Mattison     43 non-null     float64
 3   Alvin Kamara           78 non-null     float64
 4   Antonio Gibson         31 non-null     float64
 5   Austin Ekeler          73 non-null     float64
 6   Breece Hall            17 non-null     float64
 7   Brian Robinson Jr.     17 non-null     float64
 8   Cam Akers              29 non-null     float64
 9   Chase Edmonds          62 non-null     float64
 10  Christian McCaffrey    68 non-null     float64
 11  Clyde Edwards-Helaire  30 non-null     float64
 12  Cordarrelle Patterson  81 non-null     float64
 13  D'Andre Swift          30 non-null     float64
 14  Dalvin Cook            60 non-null     float64
 15  Dameon Pierce          17 non-null     float64
 16  Damien Harris          29 non-null     float64
 17  Darrell Henderson Jr.  45 non-null     float64
 18  David Montgomery       48 non-null     float64
 19  Derrick Henry          80 non-null     float64
 20  Devin Singletary       45 non-null     float64
 21  Elijah Mitchell        17 non-null     float64
 22  Ezekiel Elliott        74 non-null     float64
 23  Isaiah Spiller         17 non-null     float64
 24  Isiah Pacheco          17 non-null     float64
 25  J.D. McKissic          66 non-null     float64
 26  J.K. Dobbins           32 non-null     float64
 27  Jamaal Williams        77 non-null     float64
 28  James Conner           67 non-null     float64
 29  James Cook             17 non-null     float64
 30  James Robinson         31 non-null     float64
 31  Javonte Williams       17 non-null     float64
 32  Joe Mixon              67 non-null     float64
 33  Jonathan Taylor        32 non-null     float64
 34  Josh Jacobs            45 non-null     float64
 35  Kareem Hunt            70 non-null     float64
 36  Ken Walker III         17 non-null     float64
 37  Kenneth Gainwell       17 non-null     float64
 38  Khalil Herbert         17 non-null     float64
 39  Leonard Fournette      67 non-null     float64
 40  Mark Ingram II         70 non-null     float64
 41  Marlon Mack            57 non-null     float64
 42  Melvin Gordon III      72 non-null     float64
 43  Michael Carter         17 non-null     float64
 44  Miles Sanders          45 non-null     float64
 45  Najee Harris           17 non-null     float64
 46  Nick Chubb             61 non-null     float64
 47  Nyheim Hines           65 non-null     float64
 48  Rachaad White          17 non-null     float64
 49  Raheem Mostert         62 non-null     float64
 50  Rashaad Penny          44 non-null     float64
 51  Rhamondre Stevenson    17 non-null     float64
 52  Ronald Jones II        55 non-null     float64
 53  Saquon Barkley         48 non-null     float64
 54  Tony Pollard           48 non-null     float64
 55  Travis Etienne Jr.     17 non-null     float64
 56  Tyler Allgeier         17 non-null     float64
dtypes: float64(57)
memory usage: 38.5 KB

## Wide Receivers

### 2017

In [321]:
# assign file names
wr_2017 = ['wr_2017_w1','wr_2017_w2','wr_2017_w3','wr_2017_w4','wr_2017_w5','wr_2017_w6','wr_2017_w7'
          ,'wr_2017_w8','wr_2017_w9','wr_2017_w10','wr_2017_w11','wr_2017_w12','wr_2017_w13','wr_2017_w14'
          ,'wr_2017_w15','wr_2017_w16','wr_2017_w17']
 
# create empty list
wr_2017_list = []
 
# append datasets into the list
for i in range(len(wr_2017)):
    temp_df = pd.read_csv("./data/wr/2017/"+wr_2017[i]+".csv")
    wr_2017_list.append(temp_df)

# Assign new column for game date
wr_2017_list[0]['Date'] = pd.to_datetime('9/7/2017')    
wr_2017_list[1]['Date'] = pd.to_datetime('9/14/2017')
wr_2017_list[2]['Date'] = pd.to_datetime('9/21/2017')
wr_2017_list[3]['Date'] = pd.to_datetime('9/28/2017')
wr_2017_list[4]['Date'] = pd.to_datetime('10/5/2017')
wr_2017_list[5]['Date'] = pd.to_datetime('10/12/2017')
wr_2017_list[6]['Date'] = pd.to_datetime('10/19/2017')
wr_2017_list[7]['Date'] = pd.to_datetime('10/26/2017')
wr_2017_list[8]['Date'] = pd.to_datetime('11/2/2017')
wr_2017_list[9]['Date'] = pd.to_datetime('11/9/2017')
wr_2017_list[10]['Date'] = pd.to_datetime('11/16/2017')
wr_2017_list[11]['Date'] = pd.to_datetime('11/23/2017')
wr_2017_list[12]['Date'] = pd.to_datetime('11/30/2017')
wr_2017_list[13]['Date'] = pd.to_datetime('12/7/2017')
wr_2017_list[14]['Date'] = pd.to_datetime('12/14/2017')
wr_2017_list[15]['Date'] = pd.to_datetime('12/23/2017')
wr_2017_list[16]['Date'] = pd.to_datetime('12/31/2017')
    
# Merge dataframe with dates
wr_2017_df = pd.concat(wr_2017_list, axis=0, ignore_index=True).dropna()

### 2018

In [322]:
# assign file names
wr_2018 = ['wr_2018_w1','wr_2018_w2','wr_2018_w3','wr_2018_w4','wr_2018_w5','wr_2018_w6','wr_2018_w7'
          ,'wr_2018_w8','wr_2018_w9','wr_2018_w10','wr_2018_w11','wr_2018_w12','wr_2018_w13','wr_2018_w14'
          ,'wr_2018_w15','wr_2018_w16','wr_2018_w17']
 
# create empty list
wr_2018_list = []
 
# append datasets into the list
for i in range(len(wr_2018)):
    temp_df = pd.read_csv("./data/wr/2018/"+wr_2018[i]+".csv")
    wr_2018_list.append(temp_df)

# Assign new column for game date
wr_2018_list[0]['Date'] = pd.to_datetime('9/6/2018')    
wr_2018_list[1]['Date'] = pd.to_datetime('9/13/2018')
wr_2018_list[2]['Date'] = pd.to_datetime('9/20/2018')
wr_2018_list[3]['Date'] = pd.to_datetime('9/27/2018')
wr_2018_list[4]['Date'] = pd.to_datetime('10/4/2018')
wr_2018_list[5]['Date'] = pd.to_datetime('10/11/2018')
wr_2018_list[6]['Date'] = pd.to_datetime('10/18/2018')
wr_2018_list[7]['Date'] = pd.to_datetime('10/25/2018')
wr_2018_list[8]['Date'] = pd.to_datetime('11/1/2018')
wr_2018_list[9]['Date'] = pd.to_datetime('11/8/2018')
wr_2018_list[10]['Date'] = pd.to_datetime('11/15/2018')
wr_2018_list[11]['Date'] = pd.to_datetime('11/22/2018')
wr_2018_list[12]['Date'] = pd.to_datetime('11/29/2018')
wr_2018_list[13]['Date'] = pd.to_datetime('12/6/2018')
wr_2018_list[14]['Date'] = pd.to_datetime('12/13/2018')
wr_2018_list[15]['Date'] = pd.to_datetime('12/22/2018')
wr_2018_list[16]['Date'] = pd.to_datetime('12/30/2018')

# Merge dataframe with dates
wr_2018_df = pd.concat(wr_2018_list, axis=0, ignore_index=True).dropna()

### 2019

In [323]:
# assign file names
wr_2019 = ['wr_2019_w1','wr_2019_w2','wr_2019_w3','wr_2019_w4','wr_2019_w5','wr_2019_w6','wr_2019_w7'
          ,'wr_2019_w8','wr_2019_w9','wr_2019_w10','wr_2019_w11','wr_2019_w12','wr_2019_w13','wr_2019_w14'
          ,'wr_2019_w15','wr_2019_w16','wr_2019_w17']
 
# create empty list
wr_2019_list = []
 
# append datasets into the list
for i in range(len(wr_2019)):
    temp_df = pd.read_csv("./data/wr/2019/"+wr_2019[i]+".csv")
    wr_2019_list.append(temp_df)

# Assign new column for game date
wr_2019_list[0]['Date'] = pd.to_datetime('9/5/2019')    
wr_2019_list[1]['Date'] = pd.to_datetime('9/12/2019')
wr_2019_list[2]['Date'] = pd.to_datetime('9/19/2019')
wr_2019_list[3]['Date'] = pd.to_datetime('9/26/2019')
wr_2019_list[4]['Date'] = pd.to_datetime('10/3/2019')
wr_2019_list[5]['Date'] = pd.to_datetime('10/10/2019')
wr_2019_list[6]['Date'] = pd.to_datetime('10/17/2019')
wr_2019_list[7]['Date'] = pd.to_datetime('10/24/2019')
wr_2019_list[8]['Date'] = pd.to_datetime('10/31/2019')
wr_2019_list[9]['Date'] = pd.to_datetime('11/7/2019')
wr_2019_list[10]['Date'] = pd.to_datetime('11/14/2019')
wr_2019_list[11]['Date'] = pd.to_datetime('11/21/2019')
wr_2019_list[12]['Date'] = pd.to_datetime('11/28/2019')
wr_2019_list[13]['Date'] = pd.to_datetime('12/5/2019')
wr_2019_list[14]['Date'] = pd.to_datetime('12/12/2019')
wr_2019_list[15]['Date'] = pd.to_datetime('12/20/2019')
wr_2019_list[16]['Date'] = pd.to_datetime('12/27/2019')

# Merge dataframe with dates
wr_2019_df = pd.concat(wr_2019_list, axis=0, ignore_index=True).dropna()

### 2020

In [324]:
# assign file names
wr_2020 = ['wr_2020_w1','wr_2020_w2','wr_2020_w3','wr_2020_w4','wr_2020_w5','wr_2020_w6','wr_2020_w7'
          ,'wr_2020_w8','wr_2020_w9','wr_2020_w10','wr_2020_w11','wr_2020_w12','wr_2020_w13','wr_2020_w14'
          ,'wr_2020_w15','wr_2020_w16','wr_2020_w17']
 
# create empty list
wr_2020_list = []
 
# append datasets into the list
for i in range(len(wr_2020)):
    temp_df = pd.read_csv("./data/wr/2020/"+wr_2020[i]+".csv")
    wr_2020_list.append(temp_df)

# Assign new column for game date
wr_2020_list[0]['Date'] = pd.to_datetime('9/10/2020')    
wr_2020_list[1]['Date'] = pd.to_datetime('9/17/2020')
wr_2020_list[2]['Date'] = pd.to_datetime('9/24/2020')
wr_2020_list[3]['Date'] = pd.to_datetime('10/1/2020')
wr_2020_list[4]['Date'] = pd.to_datetime('10/8/2020')
wr_2020_list[5]['Date'] = pd.to_datetime('10/15/2020')
wr_2020_list[6]['Date'] = pd.to_datetime('10/22/2020')
wr_2020_list[7]['Date'] = pd.to_datetime('10/29/2020')
wr_2020_list[8]['Date'] = pd.to_datetime('11/5/2020')
wr_2020_list[9]['Date'] = pd.to_datetime('11/12/2020')
wr_2020_list[10]['Date'] = pd.to_datetime('11/19/2020')
wr_2020_list[11]['Date'] = pd.to_datetime('11/26/2020')
wr_2020_list[12]['Date'] = pd.to_datetime('12/3/2020')
wr_2020_list[13]['Date'] = pd.to_datetime('12/10/2020')
wr_2020_list[14]['Date'] = pd.to_datetime('12/17/2020')
wr_2020_list[15]['Date'] = pd.to_datetime('12/24/2020')
wr_2020_list[16]['Date'] = pd.to_datetime('1/3/2021')

# Merge dataframe with dates
wr_2020_df = pd.concat(wr_2020_list, axis=0, ignore_index=True).dropna()

### 2021

In [325]:
# assign file names
wr_2021 = ['wr_2021_w1','wr_2021_w2','wr_2021_w3','wr_2021_w4','wr_2021_w5','wr_2021_w6','wr_2021_w7'
          ,'wr_2021_w8','wr_2021_w9','wr_2021_w10','wr_2021_w11','wr_2021_w12','wr_2021_w13','wr_2021_w14'
          ,'wr_2021_w15','wr_2021_w16','wr_2021_w17']
 
# create empty list
wr_2021_list = []
 
# append datasets into the list
for i in range(len(wr_2021)):
    temp_df = pd.read_csv("./data/wr/2021/"+wr_2021[i]+".csv")
    wr_2021_list.append(temp_df)

# Assign new column for game date
wr_2021_list[0]['Date'] = pd.to_datetime('9/9/2021')    
wr_2021_list[1]['Date'] = pd.to_datetime('9/6/2021')
wr_2021_list[2]['Date'] = pd.to_datetime('9/23/2021')
wr_2021_list[3]['Date'] = pd.to_datetime('09/30/2021')
wr_2021_list[4]['Date'] = pd.to_datetime('10/7/2021')
wr_2021_list[5]['Date'] = pd.to_datetime('10/14/2021')
wr_2021_list[6]['Date'] = pd.to_datetime('10/21/2021')
wr_2021_list[7]['Date'] = pd.to_datetime('10/28/2021')
wr_2021_list[8]['Date'] = pd.to_datetime('11/4/2021')
wr_2021_list[9]['Date'] = pd.to_datetime('11/11/2021')
wr_2021_list[10]['Date'] = pd.to_datetime('11/18/2021')
wr_2021_list[11]['Date'] = pd.to_datetime('11/25/2021')
wr_2021_list[12]['Date'] = pd.to_datetime('12/2/2021')
wr_2021_list[13]['Date'] = pd.to_datetime('12/9/2021')
wr_2021_list[14]['Date'] = pd.to_datetime('12/16/2021')
wr_2021_list[15]['Date'] = pd.to_datetime('12/23/2021')
wr_2021_list[16]['Date'] = pd.to_datetime('1/2/2022')

# Merge dataframe with dates
wr_2021_df = pd.concat(wr_2021_list, axis=0, ignore_index=True).dropna()

### Merge WR Stats

In [326]:
# Make list of dataframe to merge all 5 year together
wr_list = [wr_2017_df, wr_2018_df, wr_2019_df, wr_2020_df, wr_2021_df]

# Merge dataframes
wr_df = pd.concat(wr_list, axis=0, ignore_index=True).dropna()
wr_df.head()

,Rank,Player,REC,TGT,YDS,Y/R,LG,20+,TD,ATT,YDS.1,TD.1,FL,G,FPTS,FPTS/G,ROST,Date
0,1.0,Antonio Brown (FA),11.0,11.0,182.0,16.5,50.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,29.2,29.2,1.0%,2017-09-07
1,2.0,Stefon Diggs (BUF),7.0,8.0,93.0,13.3,30.0,2.0,2.0,1.0,-6.0,0.0,0.0,1.0,27.7,27.7,100.0%,2017-09-07
2,3.0,Tyreek Hill (MIA),7.0,8.0,133.0,19.0,75.0,1.0,1.0,2.0,5.0,0.0,0.0,1.0,26.8,26.8,100.0%,2017-09-07
3,4.0,Adam Thielen (MIN),9.0,10.0,157.0,17.4,44.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0,24.7,24.7,92.0%,2017-09-07
4,5.0,Kenny Golladay (NYG),4.0,7.0,69.0,17.3,45.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,22.9,22.9,34.0%,2017-09-07

### Keep WR in Top 200 ADP

In [327]:
#Columns to drop
to_drop = ['Rank', 'REC', 'TGT', 'YDS', 'Y/R', 'LG', '20+', 'TD', 'ATT', 'YDS.1', 'TD.1', 'FL', 
          'G', 'FPTS/G', 'ROST']

# Drop columns
wr_ts = wr_df.drop(to_drop, axis=1) 
wr_ts['Player'] = wr_ts['Player'].str.split('(').str.get(0)
wr_ts['Player'] = wr_ts['Player'].astype(str).str.strip()

# Merge player data by making dictionary and converting to DataFrame
wr_ts = pd.DataFrame(wr_ts.groupby(['Player'])['Date', 'FPTS'].apply(lambda grp: dict(grp.values))
                     .to_dict()).sort_index()

wr_ts.head()

,A.J. Brown,A.J. Green,Aaron Fuller,Adam Humphries,Adam Thielen,Albert Wilson,Aldrick Robinson,Alec Pierce,Alex Bachman,Alex Erickson,...,Ventell Bryant,Victor Bolden Jr.,Vince Mayle,Vyncint Smith,Wan'Dale Robinson,William Fuller V,Willie Johnson,Willie Snead IV,Zach Pascal,Zay Jones
2017-09-07,NaN,12.4,NaN,NaN,24.7,8.7,1.7,NaN,NaN,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3.1
2017-09-14,NaN,11.7,NaN,3.8,7.4,4.6,0.0,NaN,NaN,10.4,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3.8
2017-09-21,NaN,27.1,NaN,12.8,14.8,10.4,4.3,NaN,NaN,0.0,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2017-09-28,NaN,17.3,NaN,13.0,8.9,10.9,8.2,NaN,NaN,0.0,...,NaN,0.0,0.0,NaN,NaN,19.9,NaN,NaN,NaN,2.8
2017-10-05,NaN,29.9,NaN,8.1,9.5,3.8,1.5,NaN,NaN,1.6,...,NaN,0.0,6.2,NaN,NaN,20.2,NaN,NaN,NaN,1.9

In [328]:
# List of columns to drop for players not in top 200 adp
dropped_columns = []

# Loop through columns and drop players not in adp
for player in wr_ts.columns.values:
    if player not in player_adp['Player'].values:
        dropped_columns.append(player)


wr_ts = wr_ts.drop(dropped_columns, axis=1)
wr_ts.to_csv('data/wr_ts.csv')

In [329]:
wr_ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85 entries, 2017-09-07 to 2022-01-02
Data columns (total 72 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   A.J. Brown                47 non-null     float64
 1   Adam Thielen              74 non-null     float64
 2   Allen Lazard              44 non-null     float64
 3   Allen Robinson II         63 non-null     float64
 4   Amari Cooper              78 non-null     float64
 5   Amon-Ra St. Brown         17 non-null     float64
 6   Brandin Cooks             78 non-null     float64
 7   Brandon Aiyuk             29 non-null     float64
 8   CeeDee Lamb               33 non-null     float64
 9   Chase Claypool            33 non-null     float64
 10  Chris Godwin              75 non-null     float64
 11  Chris Olave               17 non-null     float64
 12  Christian Kirk            56 non-null     float64
 13  Christian Watson          17 non-null     float64
 14  Cooper Kupp               71 non-null     float64
 15  Courtland Sutton          50 non-null     float64
 16  DJ Chark Jr.              56 non-null     float64
 17  DJ Moore                  63 non-null     float64
 18  DK Metcalf                49 non-null     float64
 19  Darnell Mooney            33 non-null     float64
 20  Davante Adams             72 non-null     float64
 21  DeAndre Hopkins           79 non-null     float64
 22  DeVante Parker            71 non-null     float64
 23  DeVonta Smith             17 non-null     float64
 24  Deebo Samuel              39 non-null     float64
 25  Diontae Johnson           48 non-null     float64
 26  Drake London              17 non-null     float64
 27  Elijah Moore              17 non-null     float64
 28  Gabriel Davis             33 non-null     float64
 29  Garrett Wilson            17 non-null     float64
 30  George Pickens            17 non-null     float64
 31  Hunter Renfrow            46 non-null     float64
 32  Ja'Marr Chase             17 non-null     float64
 33  Jahan Dotson              17 non-null     float64
 34  Jakobi Meyers             46 non-null     float64
 35  Jalen Tolbert             17 non-null     float64
 36  Jameson Williams          17 non-null     float64
 37  Jarvis Landry             80 non-null     float64
 38  Jaylen Waddle             17 non-null     float64
 39  Jerry Jeudy               33 non-null     float64
 40  Joshua Palmer             17 non-null     float64
 41  JuJu Smith-Schuster       75 non-null     float64
 42  Julio Jones               73 non-null     float64
 43  Justin Jefferson          33 non-null     float64
 44  Kadarius Toney            17 non-null     float64
 45  Keenan Allen              79 non-null     float64
 46  Kenny Golladay            64 non-null     float64
 47  Marquez Valdes-Scantling  65 non-null     float64
 48  Marquise Brown            47 non-null     float64
 49  Marvin Jones Jr.          71 non-null     float64
 50  Mecole Hardman            49 non-null     float64
 51  Michael Gallup            63 non-null     float64
 52  Michael Pittman Jr.       30 non-null     float64
 53  Michael Thomas            72 non-null     float64
 54  Mike Evans                77 non-null     float64
 55  Mike Williams             73 non-null     float64
 56  Rashod Bateman            17 non-null     float64
 57  Robbie Anderson           79 non-null     float64
 58  Robert Woods              76 non-null     float64
 59  Romeo Doubs               17 non-null     float64
 60  Rondale Moore             17 non-null     float64
 61  Russell Gage              64 non-null     float64
 62  Sammy Watkins             66 non-null     float64
 63  Skyy Moore                17 non-null     float64
 64  Stefon Diggs              77 non-null     float64
 65  Tee Higgins               33 non-null     float64
 66  Terry McLaurin            46 non-null     float64
 67  Treylon Burks             17 non-null     float64
 68  Tyler Boyd                72 non-null     float64
 69  Tyler Lockett             81 non-null     float64
 70  Tyreek Hill               75 non-null     float64
 71  Van Jefferson             33 non-null     float64
dtypes: float64(72)
memory usage: 48.5 KB

## Tight Ends

### 2017

In [330]:
# assign file names
te_2017 = ['te_2017_w1','te_2017_w2','te_2017_w3','te_2017_w4','te_2017_w5','te_2017_w6','te_2017_w7'
          ,'te_2017_w8','te_2017_w9','te_2017_w10','te_2017_w11','te_2017_w12','te_2017_w13','te_2017_w14'
          ,'te_2017_w15','te_2017_w16','te_2017_w17']
 
# create empty list
te_2017_list = []
 
# append datasets into the list
for i in range(len(te_2017)):
    temp_df = pd.read_csv("./data/te/2017/"+te_2017[i]+".csv")
    te_2017_list.append(temp_df)

# Assign new column for game date
te_2017_list[0]['Date'] = pd.to_datetime('9/7/2017')    
te_2017_list[1]['Date'] = pd.to_datetime('9/14/2017')
te_2017_list[2]['Date'] = pd.to_datetime('9/21/2017')
te_2017_list[3]['Date'] = pd.to_datetime('9/28/2017')
te_2017_list[4]['Date'] = pd.to_datetime('10/5/2017')
te_2017_list[5]['Date'] = pd.to_datetime('10/12/2017')
te_2017_list[6]['Date'] = pd.to_datetime('10/19/2017')
te_2017_list[7]['Date'] = pd.to_datetime('10/26/2017')
te_2017_list[8]['Date'] = pd.to_datetime('11/2/2017')
te_2017_list[9]['Date'] = pd.to_datetime('11/9/2017')
te_2017_list[10]['Date'] = pd.to_datetime('11/16/2017')
te_2017_list[11]['Date'] = pd.to_datetime('11/23/2017')
te_2017_list[12]['Date'] = pd.to_datetime('11/30/2017')
te_2017_list[13]['Date'] = pd.to_datetime('12/7/2017')
te_2017_list[14]['Date'] = pd.to_datetime('12/14/2017')
te_2017_list[15]['Date'] = pd.to_datetime('12/23/2017')
te_2017_list[16]['Date'] = pd.to_datetime('12/31/2017')
    
# Merge dataframe with dates
te_2017_df = pd.concat(te_2017_list, axis=0, ignore_index=True).dropna()

### 2018

In [331]:
# assign file names
te_2018 = ['te_2018_w1','te_2018_w2','te_2018_w3','te_2018_w4','te_2018_w5','te_2018_w6','te_2018_w7'
          ,'te_2018_w8','te_2018_w9','te_2018_w10','te_2018_w11','te_2018_w12','te_2018_w13','te_2018_w14'
          ,'te_2018_w15','te_2018_w16','te_2018_w17']
 
# create empty list
te_2018_list = []
 
# append datasets into the list
for i in range(len(te_2018)):
    temp_df = pd.read_csv("./data/te/2018/"+te_2018[i]+".csv")
    te_2018_list.append(temp_df)

# Assign new column for game date
te_2018_list[0]['Date'] = pd.to_datetime('9/6/2018')    
te_2018_list[1]['Date'] = pd.to_datetime('9/13/2018')
te_2018_list[2]['Date'] = pd.to_datetime('9/20/2018')
te_2018_list[3]['Date'] = pd.to_datetime('9/27/2018')
te_2018_list[4]['Date'] = pd.to_datetime('10/4/2018')
te_2018_list[5]['Date'] = pd.to_datetime('10/11/2018')
te_2018_list[6]['Date'] = pd.to_datetime('10/18/2018')
te_2018_list[7]['Date'] = pd.to_datetime('10/25/2018')
te_2018_list[8]['Date'] = pd.to_datetime('11/1/2018')
te_2018_list[9]['Date'] = pd.to_datetime('11/8/2018')
te_2018_list[10]['Date'] = pd.to_datetime('11/15/2018')
te_2018_list[11]['Date'] = pd.to_datetime('11/22/2018')
te_2018_list[12]['Date'] = pd.to_datetime('11/29/2018')
te_2018_list[13]['Date'] = pd.to_datetime('12/6/2018')
te_2018_list[14]['Date'] = pd.to_datetime('12/13/2018')
te_2018_list[15]['Date'] = pd.to_datetime('12/22/2018')
te_2018_list[16]['Date'] = pd.to_datetime('12/30/2018')

# Merge dataframe with dates
te_2018_df = pd.concat(te_2018_list, axis=0, ignore_index=True).dropna()

### 2019

In [332]:
# assign file names
te_2019 = ['te_2019_w1','te_2019_w2','te_2019_w3','te_2019_w4','te_2019_w5','te_2019_w6','te_2019_w7'
          ,'te_2019_w8','te_2019_w9','te_2019_w10','te_2019_w11','te_2019_w12','te_2019_w13','te_2019_w14'
          ,'te_2019_w15','te_2019_w16','te_2019_w17']
 
# create empty list
te_2019_list = []
 
# append datasets into the list
for i in range(len(te_2019)):
    temp_df = pd.read_csv("./data/te/2019/"+te_2019[i]+".csv")
    te_2019_list.append(temp_df)

# Assign new column for game date
te_2019_list[0]['Date'] = pd.to_datetime('9/5/2019')    
te_2019_list[1]['Date'] = pd.to_datetime('9/12/2019')
te_2019_list[2]['Date'] = pd.to_datetime('9/19/2019')
te_2019_list[3]['Date'] = pd.to_datetime('9/26/2019')
te_2019_list[4]['Date'] = pd.to_datetime('10/3/2019')
te_2019_list[5]['Date'] = pd.to_datetime('10/10/2019')
te_2019_list[6]['Date'] = pd.to_datetime('10/17/2019')
te_2019_list[7]['Date'] = pd.to_datetime('10/24/2019')
te_2019_list[8]['Date'] = pd.to_datetime('10/31/2019')
te_2019_list[9]['Date'] = pd.to_datetime('11/7/2019')
te_2019_list[10]['Date'] = pd.to_datetime('11/14/2019')
te_2019_list[11]['Date'] = pd.to_datetime('11/21/2019')
te_2019_list[12]['Date'] = pd.to_datetime('11/28/2019')
te_2019_list[13]['Date'] = pd.to_datetime('12/5/2019')
te_2019_list[14]['Date'] = pd.to_datetime('12/12/2019')
te_2019_list[15]['Date'] = pd.to_datetime('12/20/2019')
te_2019_list[16]['Date'] = pd.to_datetime('12/27/2019')

# Merge dataframe with dates
te_2019_df = pd.concat(te_2019_list, axis=0, ignore_index=True).dropna()

### 2020

In [333]:
# assign file names
te_2020 = ['te_2020_w1','te_2020_w2','te_2020_w3','te_2020_w4','te_2020_w5','te_2020_w6','te_2020_w7'
          ,'te_2020_w8','te_2020_w9','te_2020_w10','te_2020_w11','te_2020_w12','te_2020_w13','te_2020_w14'
          ,'te_2020_w15','te_2020_w16','te_2020_w17']
 
# create empty list
te_2020_list = []
 
# append datasets into the list
for i in range(len(te_2020)):
    temp_df = pd.read_csv("./data/te/2020/"+te_2020[i]+".csv")
    te_2020_list.append(temp_df)

# Assign new column for game date
te_2020_list[0]['Date'] = pd.to_datetime('9/10/2020')    
te_2020_list[1]['Date'] = pd.to_datetime('9/17/2020')
te_2020_list[2]['Date'] = pd.to_datetime('9/24/2020')
te_2020_list[3]['Date'] = pd.to_datetime('10/1/2020')
te_2020_list[4]['Date'] = pd.to_datetime('10/8/2020')
te_2020_list[5]['Date'] = pd.to_datetime('10/15/2020')
te_2020_list[6]['Date'] = pd.to_datetime('10/22/2020')
te_2020_list[7]['Date'] = pd.to_datetime('10/29/2020')
te_2020_list[8]['Date'] = pd.to_datetime('11/5/2020')
te_2020_list[9]['Date'] = pd.to_datetime('11/12/2020')
te_2020_list[10]['Date'] = pd.to_datetime('11/19/2020')
te_2020_list[11]['Date'] = pd.to_datetime('11/26/2020')
te_2020_list[12]['Date'] = pd.to_datetime('12/3/2020')
te_2020_list[13]['Date'] = pd.to_datetime('12/10/2020')
te_2020_list[14]['Date'] = pd.to_datetime('12/17/2020')
te_2020_list[15]['Date'] = pd.to_datetime('12/24/2020')
te_2020_list[16]['Date'] = pd.to_datetime('1/3/2021')

# Merge dataframe with dates
te_2020_df = pd.concat(te_2020_list, axis=0, ignore_index=True).dropna()

### 2021

In [334]:
# assign file names
te_2021 = ['te_2021_w1','te_2021_w2','te_2021_w3','te_2021_w4','te_2021_w5','te_2021_w6','te_2021_w7'
          ,'te_2021_w8','te_2021_w9','te_2021_w10','te_2021_w11','te_2021_w12','te_2021_w13','te_2021_w14'
          ,'te_2021_w15','te_2021_w16','te_2021_w17']
 
# create empty list
te_2021_list = []
 
# append datasets into the list
for i in range(len(te_2021)):
    temp_df = pd.read_csv("./data/te/2021/"+te_2021[i]+".csv")
    te_2021_list.append(temp_df)

# Assign new column for game date
te_2021_list[0]['Date'] = pd.to_datetime('9/9/2021')    
te_2021_list[1]['Date'] = pd.to_datetime('9/6/2021')
te_2021_list[2]['Date'] = pd.to_datetime('9/23/2021')
te_2021_list[3]['Date'] = pd.to_datetime('09/30/2021')
te_2021_list[4]['Date'] = pd.to_datetime('10/7/2021')
te_2021_list[5]['Date'] = pd.to_datetime('10/14/2021')
te_2021_list[6]['Date'] = pd.to_datetime('10/21/2021')
te_2021_list[7]['Date'] = pd.to_datetime('10/28/2021')
te_2021_list[8]['Date'] = pd.to_datetime('11/4/2021')
te_2021_list[9]['Date'] = pd.to_datetime('11/11/2021')
te_2021_list[10]['Date'] = pd.to_datetime('11/18/2021')
te_2021_list[11]['Date'] = pd.to_datetime('11/25/2021')
te_2021_list[12]['Date'] = pd.to_datetime('12/2/2021')
te_2021_list[13]['Date'] = pd.to_datetime('12/9/2021')
te_2021_list[14]['Date'] = pd.to_datetime('12/16/2021')
te_2021_list[15]['Date'] = pd.to_datetime('12/23/2021')
te_2021_list[16]['Date'] = pd.to_datetime('1/2/2022')

# Merge dataframe with dates
te_2021_df = pd.concat(te_2021_list, axis=0, ignore_index=True).dropna()

### Merge TE Stats

In [335]:
# Make list of dataframe to merge all 5 year together
te_list = [te_2017_df, te_2018_df, te_2019_df, te_2020_df, te_2021_df]

# Merge dataframes
te_df = pd.concat(te_list, axis=0, ignore_index=True).dropna()
te_df.head()

,Rank,Player,REC,TGT,YDS,Y/R,LG,20+,TD,ATT,YDS.1,TD.1,FL,G,FPTS,FPTS/G,ROST,Date
0,1.0,Jesse James (FA),6.0,8.0,41.0,6.8,19.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,22.1,22.1,0.0%,2017-09-07
1,2.0,Austin Hooper (TEN),2.0,2.0,128.0,64.0,88.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,20.8,20.8,30.0%,2017-09-07
2,3.0,Jason Witten (FA),7.0,9.0,59.0,8.4,12.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,18.9,18.9,0.0%,2017-09-07
3,4.0,Zach Ertz (ARI),8.0,8.0,93.0,11.6,23.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,17.3,17.3,94.0%,2017-09-07
4,5.0,Coby Fleener (FA),5.0,6.0,54.0,10.8,24.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,16.4,16.4,0.0%,2017-09-07

### Keep TE in Top 200 ADP

In [336]:
#Columns to drop
to_drop = ['Rank', 'REC', 'TGT', 'YDS', 'LG', '20+', 'TD', 'ATT', 'YDS.1', 'TD.1', 'FL', 
          'G', 'FPTS/G', 'ROST']

# Drop columns
te_ts = te_df.drop(to_drop, axis=1)
te_ts['Player'] = te_ts['Player'].str.split('(').str.get(0)
te_ts['Player'] = te_ts['Player'].astype(str).str.strip()

# Merge player data by making dictionary and converting to DataFrame
te_ts = pd.DataFrame(te_ts.groupby(['Player'])['Date', 'FPTS'].apply(lambda grp: dict(grp.values))
                     .to_dict()).sort_index()

te_ts.head()

,A.J. Derby,Adam Shaheen,Adam Trautman,Alan Cross,Albert Okwuegbunam,Alex Ellis,Alize Mack,Andre Miller,Andrew Beck,Andrew DePaola,...,Virgil Green,Will Dissly,Will Tye,Xavier Grimble,Zach Davidson,Zach Ertz,Zach Gentry,Zach Miller,Zach Wood,Zaire Mitchell-Paden
2017-09-07,6.4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,5.4,NaN,6.4,0.0,NaN,17.3,NaN,7.9,0.0,NaN
2017-09-14,0.0,0.0,NaN,1.6,NaN,NaN,NaN,NaN,NaN,0.0,...,9.1,NaN,1.4,0.0,NaN,14.7,NaN,10.2,0.0,NaN
2017-09-21,1.5,7.2,NaN,1.5,NaN,NaN,NaN,NaN,NaN,0.0,...,4.8,NaN,0.0,0.0,NaN,17.5,NaN,2.7,0.0,NaN
2017-09-28,17.5,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,NaN,13.1,NaN,6.5,0.0,NaN
2017-10-05,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,0.0,NaN,18.1,NaN,12.9,NaN,NaN

In [337]:
# List of columns to drop for players not in top 200 adp
dropped_columns = []

# Loop through columns and drop players not in adp
for player in te_ts.columns.values:
    if player not in player_adp['Player'].values:
        dropped_columns.append(player)


te_ts = te_ts.drop(dropped_columns, axis=1)
te_ts.to_csv('data/te_ts.csv')

In [338]:
te_ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85 entries, 2017-09-07 to 2022-01-02
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Albert Okwuegbunam  21 non-null     float64
 1   Cole Kmet           33 non-null     float64
 2   Dallas Goedert      59 non-null     float64
 3   Dalton Schultz      60 non-null     float64
 4   Darren Waller       53 non-null     float64
 5   David Njoku         66 non-null     float64
 6   Dawson Knox         44 non-null     float64
 7   Evan Engram         67 non-null     float64
 8   George Kittle       70 non-null     float64
 9   Gerald Everett      78 non-null     float64
 10  Hunter Henry        57 non-null     float64
 11  Irv Smith Jr.       46 non-null     float64
 12  Kyle Pitts          17 non-null     float64
 13  Mark Andrews        62 non-null     float64
 14  Mike Gesicki        64 non-null     float64
 15  Noah Fant           48 non-null     float64
 16  Pat Freiermuth      17 non-null     float64
 17  Robert Tonyan       60 non-null     float64
 18  T.J. Hockenson      45 non-null     float64
 19  Travis Kelce        79 non-null     float64
 20  Tyler Higbee        79 non-null     float64
 21  Zach Ertz           73 non-null     float64
dtypes: float64(22)
memory usage: 15.3 KB

## Snap Count df

### 2017

In [339]:
# load in player fantasy stats data as player_df
snap_2017_df = pd.read_csv('data/snaps/2017_SnapCounts.csv')
snap_2017_df = snap_2017_df.dropna()

snap_2017_df = snap_2017_df.rename(columns = {'1':'9/7/2017', '2':'9/14/2017', '3':'9/21/2017', '4':'9/28/2017'
                                             , '5':'10/5/2017', '6':'10/12/2017', '7':'10/19/2017', '8':'10/26/2017'
                                             , '9':'11/2/2017', '10':'11/9/2017', '11':'11/16/2017', '12':'11/23/2017'
                                             , '13':'11/30/2017', '14':'12/7/2017', '15':'12/14/2017', '16':'12/23/2017'
                                             , '17':'12/31/2017'})
# Quarterbacks
qb_snap_2017 = snap_2017_df.loc[snap_2017_df['Pos'] == 'QB']
qb_snap_2017 = qb_snap_2017.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Running backs
rb_snap_2017 = snap_2017_df.loc[snap_2017_df['Pos'] == 'RB']
rb_snap_2017 = rb_snap_2017.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Wide receivers
wr_snap_2017 = snap_2017_df.loc[snap_2017_df['Pos'] == 'WR']
wr_snap_2017 = wr_snap_2017.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Tight ends
te_snap_2017 = snap_2017_df.loc[snap_2017_df['Pos'] == 'TE']
te_snap_2017 = te_snap_2017.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

### 2018

In [340]:
# load in player fantasy stats data as player_df
snap_2018_df = pd.read_csv('data/snaps/2018_SnapCounts.csv')
snap_2018_df = snap_2018_df.dropna()

snap_2018_df = snap_2018_df.rename(columns = {'1':'9/6/2018', '2':'9/13/2018', '3':'9/20/2018', '4':'9/27/2018'
                                             , '5':'10/4/2018', '6':'10/11/2018', '7':'10/18/2018', '8':'10/25/2018'
                                             , '9':'11/1/2018', '10':'11/8/2018', '11':'11/15/2018', '12':'11/22/2018'
                                             , '13':'11/29/2018', '14':'12/6/2018', '15':'12/13/2018', '16':'12/22/2018'
                                             , '17':'12/30/2018'})
# Quarterbacks
qb_snap_2018 = snap_2018_df.loc[snap_2018_df['Pos'] == 'QB']
qb_snap_2018 = qb_snap_2018.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Running backs
rb_snap_2018 = snap_2018_df.loc[snap_2018_df['Pos'] == 'RB']
rb_snap_2018 = rb_snap_2018.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Wide receivers
wr_snap_2018 = snap_2018_df.loc[snap_2018_df['Pos'] == 'WR']
wr_snap_2018 = wr_snap_2018.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Tight ends
te_snap_2018 = snap_2018_df.loc[snap_2018_df['Pos'] == 'TE']
te_snap_2018 = te_snap_2018.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

### 2019

In [341]:
# load in player fantasy stats data as player_df
snap_2019_df = pd.read_csv('data/snaps/2019_SnapCounts.csv')
snap_2019_df = snap_2019_df.dropna()
snap_2019_df = snap_2019_df.rename(columns = {'1':'9/5/2019', '2':'9/12/2019', '3':'9/19/2019', '4':'9/26/2019'
                                             , '5':'10/3/2019', '6':'10/10/2019', '7':'10/17/2019', '8':'10/24/2019'
                                             , '9':'10/31/2019', '10':'11/7/2019', '11':'11/14/2019', '12':'11/21/2019'
                                             , '13':'11/28/2019', '14':'12/5/2019', '15':'12/12/2019', '16':'12/20/2019'
                                             , '17':'12/27/2019'})
# Quarterbacks
qb_snap_2019 = snap_2019_df.loc[snap_2019_df['Pos'] == 'QB']
qb_snap_2019 = qb_snap_2019.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Running backs
rb_snap_2019 = snap_2019_df.loc[snap_2019_df['Pos'] == 'RB']
rb_snap_2019 = rb_snap_2019.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Wide receivers
wr_snap_2019 = snap_2019_df.loc[snap_2019_df['Pos'] == 'WR']
wr_snap_2019 = wr_snap_2019.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Tight ends
te_snap_2019 = snap_2019_df.loc[snap_2019_df['Pos'] == 'TE']
te_snap_2019 = te_snap_2019.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

### 2020

In [342]:
# load in player fantasy stats data as player_df
snap_2020_df = pd.read_csv('data/snaps/2020_SnapCounts.csv')
snap_2020_df = snap_2020_df.dropna()

snap_2020_df = snap_2020_df.rename(columns = {'1':'9/10/2020', '2':'9/17/2020', '3':'9/24/2020', '4':'10/1/2020'
                                             , '5':'10/8/2020', '6':'10/15/2020', '7':'10/22/2020', '8':'10/29/2020'
                                             , '9':'11/5/2020', '10':'11/12/2020', '11':'11/19/2020', '12':'11/26/2020'
                                             , '13':'12/3/2020', '14':'12/10/2020', '15':'12/17/2020', '16':'12/24/2020'
                                             , '17':'1/3/2021'})
# Quarterbacks
qb_snap_2020 = snap_2020_df.loc[snap_2020_df['Pos'] == 'QB']
qb_snap_2020 = qb_snap_2020.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Running backs
rb_snap_2020 = snap_2020_df.loc[snap_2020_df['Pos'] == 'RB']
rb_snap_2020 = rb_snap_2020.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Wide receivers
wr_snap_2020 = snap_2020_df.loc[snap_2020_df['Pos'] == 'WR']
wr_snap_2020 = wr_snap_2020.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Tight ends
te_snap_2020 = snap_2020_df.loc[snap_2020_df['Pos'] == 'TE']
te_snap_2020 = te_snap_2020.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

### 2021

In [343]:
# load in player fantasy stats data as player_df
snap_2021_df = pd.read_csv('data/snaps/2021_SnapCounts.csv')
snap_2021_df = snap_2021_df.dropna().drop(columns = '18', axis=1)
snap_2021_df = snap_2021_df.rename(columns = {'1':'9/9/2021', '2':'9/16/2021', '3':'9/23/2021', '4':'9/30/2021'
                                             , '5':'10/7/2021', '6':'10/14/2021', '7':'10/21/2021', '8':'10/28/2021'
                                             , '9':'11/4/2021', '10':'11/11/2021', '11':'11/18/2021', '12':'11/25/2021'
                                             , '13':'12/2/2021', '14':'12/9/2021', '15':'12/16/2021', '16':'12/23/2021'
                                             , '17':'1/2/2022'})
# Quarterbacks
qb_snap_2021 = snap_2021_df.loc[snap_2021_df['Pos'] == 'QB']
qb_snap_2021 = qb_snap_2021.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Running backs
rb_snap_2021 = snap_2021_df.loc[snap_2021_df['Pos'] == 'RB']
rb_snap_2021 = rb_snap_2021.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Wide receivers
wr_snap_2021 = snap_2021_df.loc[snap_2021_df['Pos'] == 'WR']
wr_snap_2021 = wr_snap_2021.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

# Tight ends
te_snap_2021 = snap_2021_df.loc[snap_2021_df['Pos'] == 'TE']
te_snap_2021 = te_snap_2021.drop(columns = ['Pos', 'Team', 'TTL', 'AVG'], axis=1)

### Merge QB

In [344]:
from functools import reduce

# Make list of dataframe to merge all 5 year together
qb_snap_list = [qb_snap_2017, qb_snap_2018,qb_snap_2019,qb_snap_2020, qb_snap_2021]

# Merge dataframes
qb_snap_df = reduce(lambda  left,right: pd.merge(left,right,on=['Player'],
                                            how='outer'), qb_snap_list)
qb_snap_df= qb_snap_df.set_index('Player').sort_index().T
qb_snap_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 9/7/2017 to 1/2/2022
Data columns (total 118 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AJ McCarron         68 non-null     object
 1   Aaron Rodgers       85 non-null     object
 2   Alex Smith          51 non-null     object
 3   Andy Dalton         85 non-null     object
 4   Baker Mayfield      68 non-null     object
 5   Ben DiNucci         17 non-null     object
 6   Ben Roethlisberger  85 non-null     object
 7   Blaine Gabbert      68 non-null     object
 8   Blake Bortles       51 non-null     object
 9   Brandon Allen       51 non-null     object
 10  Brett Hundley       34 non-null     object
 11  Brett Rypien        34 non-null     object
 12  Brian Hoyer         68 non-null     object
 13  C.J. Beathard       68 non-null     object
 14  Cam Newton          85 non-null     object
 15  Carson Wentz        85 non-null     object
 16  Case Keenum         85 non-null     object
 17  Chad Henne          68 non-null     object
 18  Chad Kelly          17 non-null     object
 19  Chase Daniel        85 non-null     object
 20  Chris Streveler     34 non-null     object
 21  Colt McCoy          85 non-null     object
 22  Cooper Rush         68 non-null     object
 23  Dak Prescott        85 non-null     object
 24  Daniel Jones        51 non-null     object
 25  David Blough        51 non-null     object
 26  Davis Mills         17 non-null     object
 27  Davis Webb          17 non-null     object
 28  DeShone Kizer       34 non-null     object
 29  Derek Carr          85 non-null     object
 30  Deshaun Watson      68 non-null     object
 31  Devlin Hodges       17 non-null     object
 32  Drew Brees          68 non-null     object
 33  Drew Lock           51 non-null     object
 34  Drew Stanton        17 non-null     object
 35  Dwayne Haskins      34 non-null     object
 36  Easton Stick        17 non-null     object
 37  Feleipe Franks      17 non-null     object
 38  Gardner Minshew II  51 non-null     object
 39  Garrett Gilbert     68 non-null     object
 40  Geno Smith          68 non-null     object
 41  Ian Book            17 non-null     object
 42  Jacob Eason         17 non-null     object
 43  Jacoby Brissett     85 non-null     object
 44  Jake Fromm          17 non-null     object
 45  Jake Luton          17 non-null     object
 46  Jake Rudock         17 non-null     object
 47  Jalen Hurts         34 non-null     object
 48  Jameis Winston      85 non-null     object
 49  James Franklin      17 non-null     object
 50  Jared Goff          85 non-null     object
 51  Jarrett Stidham     34 non-null     object
 52  Jeff Driskel        51 non-null     object
 53  Jimmy Garoppolo     85 non-null     object
 54  Joe Burrow          34 non-null     object
 55  Joe Flacco          85 non-null     object
 56  Joe Webb III        34 non-null     object
 57  John Lovett         17 non-null     object
 58  John Wolford        34 non-null     object
 59  Jordan Love         17 non-null     object
 60  Josh Allen          68 non-null     object
 61  Josh Johnson        34 non-null     object
 62  Josh McCown         51 non-null     object
 63  Josh Rosen          51 non-null     object
 64  Joshua Dobbs        34 non-null     object
 65  Justin Fields       17 non-null     object
 66  Justin Herbert      34 non-null     object
 67  Kellen Mond         17 non-null     object
 68  Kevin Hogan         17 non-null     object
 69  Kirk Cousins        85 non-null     object
 70  Kurt Benkert        17 non-null     object
 71  Kyle Allen          68 non-null     object
 72  Kyle Lauletta       17 non-null     object
 73  Kyler Murray        51 non-null     object
 74  Lamar Jackson       68 non-null     object
 75  Logan Woodside      34 non-null     object
 76  Mac Jones           17 non-null     object
 77  Marcus Mariota      85 non-null     object
 78  Mason Rudolph       51 non-null     object
 79  Matt Barkley        51 non-null     object
 80  Matt Moore          34 non-null     object
 81  Matt Ryan           85 non-null     object
 82  Matt Schaub         51 non-null     object
 83  Matthew Stafford    85 non-null     object
 84  Mike Glennon        85 non-null     object
 85  Mike White          17 non-null     object
 86  Mitch Trubisky      85 non-null     object
 87  Nate Sudfeld        51 non-null     object
 88  Nathan Peterman     68 non-null     object
 89  Nick Foles          85 non-null     object
 90  Nick Mullens        68 non-null     object
 91  PJ Walker           34 non-null     object
 92  Patrick Mahomes II  85 non-null     object
 93  Philip Rivers       68 non-null     object
 94  Robert Griffin III  51 non-null     object
 95  Russell Wilson      85 non-null     object
 96  Ryan Finley         34 non-null     object
 97  Ryan Fitzpatrick    85 non-null     object
 98  Ryan Griffin        17 non-null     object
 99  Ryan Tannehill      68 non-null     object
 100 Sam Darnold         68 non-null     object
 101 Sam Ehlinger        17 non-null     object
 102 Sean Mannion        68 non-null     object
 103 Taylor Heinicke     68 non-null     object
 104 Teddy Bridgewater   85 non-null     object
 105 Tim Boyle           51 non-null     object
 106 Tom Brady           85 non-null     object
 107 Tommy Stevens       17 non-null     object
 108 Trace McSorley      34 non-null     object
 109 Trevor Lawrence     17 non-null     object
 110 Trevor Siemian      51 non-null     object
 111 Trey Lance          17 non-null     object
 112 Tua Tagovailoa      34 non-null     object
 113 Tyler Bray          34 non-null     object
 114 Tyler Huntley       34 non-null     object
 115 Tyrod Taylor        85 non-null     object
 116 Will Grier          17 non-null     object
 117 Zach Wilson         17 non-null     object
dtypes: object(118)
memory usage: 79.0+ KB

In [345]:
qb_ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85 entries, 2017-09-07 to 2022-01-02
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Aaron Rodgers       72 non-null     float64
 1   Baker Mayfield      63 non-null     float64
 2   Dak Prescott        70 non-null     float64
 3   Derek Carr          80 non-null     float64
 4   Deshaun Watson      71 non-null     float64
 5   Jalen Hurts         32 non-null     float64
 6   Jameis Winston      61 non-null     float64
 7   Joe Burrow          27 non-null     float64
 8   Josh Allen          61 non-null     float64
 9   Justin Fields       17 non-null     float64
 10  Justin Herbert      32 non-null     float64
 11  Kirk Cousins        80 non-null     float64
 12  Kyler Murray        49 non-null     float64
 13  Lamar Jackson       63 non-null     float64
 14  Mac Jones           17 non-null     float64
 15  Matt Ryan           80 non-null     float64
 16  Matthew Stafford    73 non-null     float64
 17  Patrick Mahomes II  63 non-null     float64
 18  Russell Wilson      81 non-null     float64
 19  Ryan Tannehill      56 non-null     float64
 20  Tom Brady           81 non-null     float64
 21  Trevor Lawrence     17 non-null     float64
 22  Trey Lance          17 non-null     float64
 23  Tua Tagovailoa      27 non-null     float64
dtypes: float64(24)
memory usage: 16.6 KB

In [346]:
# List of columns to drop for players not in top 200 adp
dropped_columns = []

# Loop through columns and drop players not in adp
for player in qb_snap_df.columns.values:
    if player not in qb_ts.columns.values:
        dropped_columns.append(player)


qb_snap_ts = qb_snap_df.drop(dropped_columns, axis=1)
qb_snap_ts = qb_snap_ts.add_prefix('snaps_')
qb_snap_ts = qb_snap_ts.replace(to_replace='bye', value=0)
    
qb_snap_ts.to_csv('data/qb_snap_ts.csv')
qb_snap_ts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 9/7/2017 to 1/2/2022
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   snaps_Aaron Rodgers       85 non-null     object
 1   snaps_Baker Mayfield      68 non-null     object
 2   snaps_Dak Prescott        85 non-null     object
 3   snaps_Derek Carr          85 non-null     object
 4   snaps_Deshaun Watson      68 non-null     object
 5   snaps_Jalen Hurts         34 non-null     object
 6   snaps_Jameis Winston      85 non-null     object
 7   snaps_Joe Burrow          34 non-null     object
 8   snaps_Josh Allen          68 non-null     object
 9   snaps_Justin Fields       17 non-null     object
 10  snaps_Justin Herbert      34 non-null     object
 11  snaps_Kirk Cousins        85 non-null     object
 12  snaps_Kyler Murray        51 non-null     object
 13  snaps_Lamar Jackson       68 non-null     object
 14  snaps_Mac Jones           17 non-null     object
 15  snaps_Matt Ryan           85 non-null     object
 16  snaps_Matthew Stafford    85 non-null     object
 17  snaps_Patrick Mahomes II  85 non-null     object
 18  snaps_Russell Wilson      85 non-null     object
 19  snaps_Ryan Tannehill      68 non-null     object
 20  snaps_Tom Brady           85 non-null     object
 21  snaps_Trevor Lawrence     17 non-null     object
 22  snaps_Trey Lance          17 non-null     object
 23  snaps_Tua Tagovailoa      34 non-null     object
dtypes: object(24)
memory usage: 16.6+ KB

### Merge RB

In [347]:
from functools import reduce

# Make list of dataframe to merge all 5 year together
rb_snap_list = [rb_snap_2017, rb_snap_2018,rb_snap_2019,rb_snap_2020, rb_snap_2021]

# Merge dataframes
rb_snap_df = reduce(lambda  left,right: pd.merge(left,right,on=['Player'],
                                            how='outer'), rb_snap_list)
rb_snap_df= rb_snap_df.set_index('Player').sort_index().T
rb_snap_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 9/7/2017 to 1/2/2022
Columns: 225 entries, AJ Dillon to Zack Moss
dtypes: object(225)
memory usage: 150.1+ KB

In [348]:
# List of columns to drop for players not in top 200 adp
dropped_columns = []

# Loop through columns and drop players not in adp
for player in rb_snap_df.columns.values:
    if player not in rb_ts.columns.values:
        dropped_columns.append(player)


rb_snap_ts = rb_snap_df.drop(dropped_columns, axis=1)
rb_snap_ts = rb_snap_ts.add_prefix('snaps_')
rb_snap_ts = rb_snap_ts.replace(to_replace='bye', value=0)
    
rb_snap_ts.to_csv('data/rb_snap_ts.csv')
rb_snap_ts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 9/7/2017 to 1/2/2022
Data columns (total 47 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   snaps_AJ Dillon              34 non-null     object
 1   snaps_Aaron Jones            85 non-null     object
 2   snaps_Alexander Mattison     51 non-null     object
 3   snaps_Alvin Kamara           85 non-null     object
 4   snaps_Antonio Gibson         34 non-null     object
 5   snaps_Austin Ekeler          85 non-null     object
 6   snaps_Cam Akers              34 non-null     object
 7   snaps_Chase Edmonds          68 non-null     object
 8   snaps_Christian McCaffrey    85 non-null     object
 9   snaps_Clyde Edwards-Helaire  34 non-null     object
 10  snaps_Cordarrelle Patterson  85 non-null     object
 11  snaps_D'Andre Swift          34 non-null     object
 12  snaps_Dalvin Cook            85 non-null     object
 13  snaps_Damien Harris          51 non-null     object
 14  snaps_Darrell Henderson Jr.  51 non-null     object
 15  snaps_David Montgomery       51 non-null     object
 16  snaps_Derrick Henry          85 non-null     object
 17  snaps_Devin Singletary       51 non-null     object
 18  snaps_Elijah Mitchell        17 non-null     object
 19  snaps_Ezekiel Elliott        85 non-null     object
 20  snaps_J.D. McKissic          85 non-null     object
 21  snaps_J.K. Dobbins           17 non-null     object
 22  snaps_Jamaal Williams        85 non-null     object
 23  snaps_James Conner           85 non-null     object
 24  snaps_James Robinson         34 non-null     object
 25  snaps_Javonte Williams       17 non-null     object
 26  snaps_Joe Mixon              85 non-null     object
 27  snaps_Jonathan Taylor        34 non-null     object
 28  snaps_Josh Jacobs            51 non-null     object
 29  snaps_Kareem Hunt            85 non-null     object
 30  snaps_Kenneth Gainwell       17 non-null     object
 31  snaps_Khalil Herbert         17 non-null     object
 32  snaps_Leonard Fournette      85 non-null     object
 33  snaps_Mark Ingram II         85 non-null     object
 34  snaps_Marlon Mack            85 non-null     object
 35  snaps_Melvin Gordon III      85 non-null     object
 36  snaps_Michael Carter         17 non-null     object
 37  snaps_Miles Sanders          51 non-null     object
 38  snaps_Najee Harris           17 non-null     object
 39  snaps_Nick Chubb             68 non-null     object
 40  snaps_Nyheim Hines           68 non-null     object
 41  snaps_Raheem Mostert         85 non-null     object
 42  snaps_Rashaad Penny          68 non-null     object
 43  snaps_Rhamondre Stevenson    17 non-null     object
 44  snaps_Ronald Jones II        68 non-null     object
 45  snaps_Saquon Barkley         68 non-null     object
 46  snaps_Tony Pollard           51 non-null     object
dtypes: object(47)
memory usage: 31.9+ KB

### Merge WR

In [349]:
from functools import reduce

# Make list of dataframe to merge all 5 year together
wr_snap_list = [wr_snap_2017, wr_snap_2018,wr_snap_2019,wr_snap_2020, wr_snap_2021]

# Merge dataframes
wr_snap_df = reduce(lambda  left,right: pd.merge(left,right,on=['Player'],
                                            how='outer'), wr_snap_list)
wr_snap_df= wr_snap_df.set_index('Player').sort_index().T
wr_snap_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 9/7/2017 to 1/2/2022
Columns: 336 entries, A.J. Brown to Zay Jones
dtypes: object(336)
memory usage: 223.8+ KB

In [350]:
# List of columns to drop for players not in top 200 adp
dropped_columns = []

# Loop through columns and drop players not in adp
for player in wr_snap_df.columns.values:
    if player not in wr_ts.columns.values:
        dropped_columns.append(player)


wr_snap_ts = wr_snap_df.drop(dropped_columns, axis=1)
wr_snap_ts = wr_snap_ts.add_prefix('snaps_')
wr_snap_ts = wr_snap_ts.replace(to_replace='bye', value=0)
    
wr_snap_ts.to_csv('data/wr_snap_ts.csv')
wr_snap_ts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 9/7/2017 to 1/2/2022
Data columns (total 61 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   snaps_A.J. Brown                51 non-null     object
 1   snaps_Adam Thielen              85 non-null     object
 2   snaps_Allen Lazard              68 non-null     object
 3   snaps_Allen Robinson II         85 non-null     object
 4   snaps_Amari Cooper              85 non-null     object
 5   snaps_Amon-Ra St. Brown         17 non-null     object
 6   snaps_Brandin Cooks             85 non-null     object
 7   snaps_Brandon Aiyuk             34 non-null     object
 8   snaps_CeeDee Lamb               34 non-null     object
 9   snaps_Chase Claypool            34 non-null     object
 10  snaps_Chris Godwin              85 non-null     object
 11  snaps_Christian Kirk            68 non-null     object
 12  snaps_Cooper Kupp               85 non-null     object
 13  snaps_Courtland Sutton          68 non-null     object
 14  snaps_DJ Chark Jr.              68 non-null     object
 15  snaps_DJ Moore                  68 non-null     object
 16  snaps_DK Metcalf                51 non-null     object
 17  snaps_Darnell Mooney            34 non-null     object
 18  snaps_Davante Adams             85 non-null     object
 19  snaps_DeAndre Hopkins           85 non-null     object
 20  snaps_DeVante Parker            85 non-null     object
 21  snaps_DeVonta Smith             17 non-null     object
 22  snaps_Deebo Samuel              51 non-null     object
 23  snaps_Diontae Johnson           51 non-null     object
 24  snaps_Elijah Moore              17 non-null     object
 25  snaps_Gabriel Davis             34 non-null     object
 26  snaps_Hunter Renfrow            51 non-null     object
 27  snaps_Ja'Marr Chase             17 non-null     object
 28  snaps_Jakobi Meyers             51 non-null     object
 29  snaps_Jarvis Landry             85 non-null     object
 30  snaps_Jaylen Waddle             17 non-null     object
 31  snaps_Jerry Jeudy               34 non-null     object
 32  snaps_Joshua Palmer             17 non-null     object
 33  snaps_JuJu Smith-Schuster       85 non-null     object
 34  snaps_Julio Jones               85 non-null     object
 35  snaps_Justin Jefferson          34 non-null     object
 36  snaps_Kadarius Toney            17 non-null     object
 37  snaps_Keenan Allen              85 non-null     object
 38  snaps_Kenny Golladay            85 non-null     object
 39  snaps_Marquez Valdes-Scantling  68 non-null     object
 40  snaps_Marquise Brown            51 non-null     object
 41  snaps_Marvin Jones Jr.          85 non-null     object
 42  snaps_Mecole Hardman            51 non-null     object
 43  snaps_Michael Gallup            68 non-null     object
 44  snaps_Michael Pittman Jr.       34 non-null     object
 45  snaps_Michael Thomas            68 non-null     object
 46  snaps_Mike Evans                85 non-null     object
 47  snaps_Mike Williams             85 non-null     object
 48  snaps_Rashod Bateman            17 non-null     object
 49  snaps_Robbie Anderson           85 non-null     object
 50  snaps_Robert Woods              85 non-null     object
 51  snaps_Rondale Moore             17 non-null     object
 52  snaps_Russell Gage              68 non-null     object
 53  snaps_Sammy Watkins             85 non-null     object
 54  snaps_Stefon Diggs              85 non-null     object
 55  snaps_Tee Higgins               34 non-null     object
 56  snaps_Terry McLaurin            51 non-null     object
 57  snaps_Tyler Boyd                85 non-null     object
 58  snaps_Tyler Lockett             85 non-null     object
 59  snaps_Tyreek Hill               85 non-null     object
 60  snaps_Van Jefferson             34 non-null     object
dtypes: object(61)
memory usage: 41.2+ KB

### Merge TE

In [351]:
from functools import reduce

# Make list of dataframe to merge all 5 year together
te_snap_list = [te_snap_2017, te_snap_2018,te_snap_2019,te_snap_2020, te_snap_2021]

# Merge dataframes
te_snap_df = reduce(lambda  left,right: pd.merge(left,right,on=['Player'],
                                            how='outer'), te_snap_list)
te_snap_df= te_snap_df.set_index('Player').sort_index().T
te_snap_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 9/7/2017 to 1/2/2022
Data columns (total 189 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Adam Shaheen         85 non-null     object
 1   Adam Trautman        34 non-null     object
 2   Albert Okwuegbunam   34 non-null     object
 3   Alex Ellis           34 non-null     object
 4   Andrew Beck          51 non-null     object
 5   Anthony Firkser      68 non-null     object
 6   Antony Auclair       85 non-null     object
 7   Austin Hooper        85 non-null     object
 8   Beau Brinkley        34 non-null     object
 9   Ben Braunecker       51 non-null     object
 10  Ben Ellefson         34 non-null     object
 11  Benjamin Watson      51 non-null     object
 12  Blake Bell           85 non-null     object
 13  Blake Jarwin         85 non-null     object
 14  Brandon Dillon       34 non-null     object
 15  Brevin Jordan        17 non-null     object
 16  Brock Wright         17 non-null     object
 17  Bruce Miller         17 non-null     object
 18  Brycen Hopkins       17 non-null     object
 19  C.J. Uzomah          85 non-null     object
 20  Caleb Wilson         17 non-null     object
 21  Cameron Brate        85 non-null     object
 22  Cethan Carter        68 non-null     object
 23  Charles Jones        17 non-null     object
 24  Charlie Woerner      34 non-null     object
 25  Chris Herndon IV     68 non-null     object
 26  Chris Manhertz       85 non-null     object
 27  Chris Myarick        34 non-null     object
 28  Clark Harris         17 non-null     object
 29  Codey McElroy        34 non-null     object
 30  Colby Parkinson      34 non-null     object
 31  Cole Kmet            34 non-null     object
 32  Colin Thompson       34 non-null     object
 33  Dallas Goedert       68 non-null     object
 34  Dalton Keene         17 non-null     object
 35  Dalton Schultz       68 non-null     object
 36  Dan Arnold           68 non-null     object
 37  Daniel Brown         85 non-null     object
 38  Daniel Helm          34 non-null     object
 39  Darrell Daniels      85 non-null     object
 40  Darren Fells         85 non-null     object
 41  Darren Waller        68 non-null     object
 42  David Njoku          85 non-null     object
 43  Dawson Knox          51 non-null     object
 44  Demetrius Harris     85 non-null     object
 45  Deon Yelder          68 non-null     object
 46  Derek Carrier        85 non-null     object
 47  Devin Asiasi         17 non-null     object
 48  Dominique Dafney     34 non-null     object
 49  Donald Parham Jr.    34 non-null     object
 50  Drew Sample          51 non-null     object
 51  Durham Smythe        68 non-null     object
 52  Eric Ebron           85 non-null     object
 53  Eric Saubert         85 non-null     object
 54  Eric Tomlinson       85 non-null     object
 55  Ethan Wolf           17 non-null     object
 56  Evan Baylis          51 non-null     object
 57  Evan Engram          85 non-null     object
 58  Farrod Green         17 non-null     object
 59  Foster Moreau        51 non-null     object
 60  Garrett Celek        51 non-null     object
 61  Garrett Dickerson    34 non-null     object
 62  Garrett Griffin      51 non-null     object
 63  Geoff Swaim          85 non-null     object
 64  George Kittle        85 non-null     object
 65  Gerald Everett       85 non-null     object
 66  Giovanni Ricci       17 non-null     object
 67  Greg Olsen           68 non-null     object
 68  Hale Hentges         17 non-null     object
 69  Harrison Bryant      34 non-null     object
 70  Hayden Hurst         68 non-null     object
 71  Hunter Bryant        17 non-null     object
 72  Hunter Henry         68 non-null     object
 73  Hunter Long          17 non-null     object
 74  Ian Thomas           68 non-null     object
 75  Irv Smith Jr.        34 non-null     object
 76  Isaac Nauta          34 non-null     object
 77  J.P. Holtz           51 non-null     object
 78  Jace Sternberger     34 non-null     object
 79  Jack Doyle           85 non-null     object
 80  Jack Stoll           17 non-null     object
 81  Jacob Hollister      85 non-null     object
 82  Jaeden Graham        34 non-null     object
 83  Jake Bargas          17 non-null     object
 84  Jake Butt            34 non-null     object
 85  James O'Shaughnessy  85 non-null     object
 86  Jared Cook           85 non-null     object
 87  Jason Croom          34 non-null     object
 88  Jason Witten         51 non-null     object
 89  Jerell Adams         17 non-null     object
 90  Jeremy Sprinkle      85 non-null     object
 91  Jesper Horsted       34 non-null     object
 92  Jesse James          85 non-null     object
 93  Jimmy Graham         85 non-null     object
 94  Jody Fortson         17 non-null     object
 95  John Bates           17 non-null     object
 96  Johnny Mundt         85 non-null     object
 97  Jonnu Smith          85 non-null     object
 98  Jordan Akins         68 non-null     object
 99  Jordan Franks        17 non-null     object
 100 Jordan Reed          51 non-null     object
 101 Jordan Thomas        51 non-null     object
 102 Josh Hill            68 non-null     object
 103 Josh Oliver          34 non-null     object
 104 Joshua Perkins       34 non-null     object
 105 Josiah Deguara       34 non-null     object
 106 Juwan Johnson        34 non-null     object
 107 Kaden Smith          51 non-null     object
 108 Kahale Warring       17 non-null     object
 109 Kendall Blanton      17 non-null     object
 110 Kenny Yeboah         17 non-null     object
 111 Kevin Rader          34 non-null     object
 112 Kyle Nelson          51 non-null     object
 113 Kyle Pitts           17 non-null     object
 114 Kyle Rudolph         85 non-null     object
 115 Kylen Granson        17 non-null     object
 116 Lance Kendricks      51 non-null     object
 117 Lee Smith            85 non-null     object
 118 Levine Toilolo       68 non-null     object
 119 Logan Paulsen        34 non-null     object
 120 Logan Thomas         85 non-null     object
 121 Luke Farrell         17 non-null     object
 122 Luke Stocker         85 non-null     object
 123 Luke Willson         68 non-null     object
 124 Marcedes Lewis       85 non-null     object
 125 Marcus Baugh         17 non-null     object
 126 Mark Andrews         68 non-null     object
 127 Mason Schreck        51 non-null     object
 128 Matt LaCosse         51 non-null     object
 129 Matt Sokol           17 non-null     object
 130 Maxx Williams        85 non-null     object
 131 Mike Gesicki         68 non-null     object
 132 Miller Forristall    17 non-null     object
 133 Mitchell Wilcox      17 non-null     object
 134 Mo Alie-Cox          68 non-null     object
 135 MyCole Pruitt        85 non-null     object
 136 Nate Becker          17 non-null     object
 137 Nick Boyle           85 non-null     object
 138 Nick Keizer          17 non-null     object
 139 Nick O'Leary         51 non-null     object
 140 Nick Vannett         85 non-null     object
 141 Noah Fant            51 non-null     object
 142 Noah Gray            17 non-null     object
 143 Noah Togiai          34 non-null     object
 144 O.J. Howard          85 non-null     object
 145 Parker Hesse         17 non-null     object
 146 Pat Freiermuth       17 non-null     object
 147 Pharaoh Brown        68 non-null     object
 148 Richard Rodgers      85 non-null     object
 149 Ricky Seals-Jones    85 non-null     object
 150 Rob Gronkowski       68 non-null     object
 151 Robert Tonyan        68 non-null     object
 152 Ross Dwelley         68 non-null     object
 153 Ross Travis          51 non-null     object
 154 Ryan Griffin         85 non-null     object
 155 Ryan Izzo            34 non-null     object
 156 Sammis Reyes         17 non-null     object
 157 Sean Culkin          68 non-null     object
 158 Sean McKeon          34 non-null     object
 159 Seth DeValve         68 non-null     object
 160 Shane Zylstra        17 non-null     object
 161 Stephen Anderson     51 non-null     object
 162 Stephen Carlson      34 non-null     object
 163 Stephen Sullivan     17 non-null     object
 164 T.J. Hockenson       51 non-null     object
 165 Tanner Hudson        34 non-null     object
 166 Taysom Hill          85 non-null     object
 167 Temarrick Hemingway  34 non-null     object
 168 Tommy Hudson         17 non-null     object
 169 Tommy Sweeney        34 non-null     object
 170 Tommy Tremble        17 non-null     object
 171 Travis Kelce         85 non-null     object
 172 Tre' McKitty         17 non-null     object
 173 Trevon Wesco         51 non-null     object
 174 Trey Burton          68 non-null     object
 175 Troy Fumagalli       34 non-null     object
 176 Tyler Conklin        68 non-null     object
 177 Tyler Davis          34 non-null     object
 178 Tyler Eifert         68 non-null     object
 179 Tyler Higbee         85 non-null     object
 180 Tyler Kroft          85 non-null     object
 181 Tyree Jackson        17 non-null     object
 182 Tyrone Swoopes       51 non-null     object
 183 Vance McDonald       68 non-null     object
 184 Vernon Davis         51 non-null     object
 185 Virgil Green         68 non-null     object
 186 Will Dissly          68 non-null     object
 187 Zach Ertz            85 non-null     object
 188 Zach Gentry          51 non-null     object
dtypes: object(189)
memory usage: 126.2+ KB

In [352]:
# List of columns to drop for players not in top 200 adp
dropped_columns = []

# Loop through columns and drop players not in adp
for player in te_snap_df.columns.values:
    if player not in te_ts.columns.values:
        dropped_columns.append(player)


te_snap_ts = te_snap_df.drop(dropped_columns, axis=1)
te_snap_ts = te_snap_ts.add_prefix('snaps_')
te_snap_ts = te_snap_ts.replace(to_replace='bye', value=0)
    
te_snap_ts.to_csv('data/te_snap_ts.csv')
te_snap_ts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 9/7/2017 to 1/2/2022
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   snaps_Albert Okwuegbunam  34 non-null     object
 1   snaps_Cole Kmet           34 non-null     object
 2   snaps_Dallas Goedert      68 non-null     object
 3   snaps_Dalton Schultz      68 non-null     object
 4   snaps_Darren Waller       68 non-null     object
 5   snaps_David Njoku         85 non-null     object
 6   snaps_Dawson Knox         51 non-null     object
 7   snaps_Evan Engram         85 non-null     object
 8   snaps_George Kittle       85 non-null     object
 9   snaps_Gerald Everett      85 non-null     object
 10  snaps_Hunter Henry        68 non-null     object
 11  snaps_Irv Smith Jr.       34 non-null     object
 12  snaps_Kyle Pitts          17 non-null     object
 13  snaps_Mark Andrews        68 non-null     object
 14  snaps_Mike Gesicki        68 non-null     object
 15  snaps_Noah Fant           51 non-null     object
 16  snaps_Pat Freiermuth      17 non-null     object
 17  snaps_Robert Tonyan       68 non-null     object
 18  snaps_T.J. Hockenson      51 non-null     object
 19  snaps_Travis Kelce        85 non-null     object
 20  snaps_Tyler Higbee        85 non-null     object
 21  snaps_Zach Ertz           85 non-null     object
dtypes: object(22)
memory usage: 15.3+ KB

In [353]:
te_ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85 entries, 2017-09-07 to 2022-01-02
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Albert Okwuegbunam  21 non-null     float64
 1   Cole Kmet           33 non-null     float64
 2   Dallas Goedert      59 non-null     float64
 3   Dalton Schultz      60 non-null     float64
 4   Darren Waller       53 non-null     float64
 5   David Njoku         66 non-null     float64
 6   Dawson Knox         44 non-null     float64
 7   Evan Engram         67 non-null     float64
 8   George Kittle       70 non-null     float64
 9   Gerald Everett      78 non-null     float64
 10  Hunter Henry        57 non-null     float64
 11  Irv Smith Jr.       46 non-null     float64
 12  Kyle Pitts          17 non-null     float64
 13  Mark Andrews        62 non-null     float64
 14  Mike Gesicki        64 non-null     float64
 15  Noah Fant           48 non-null     float64
 16  Pat Freiermuth      17 non-null     float64
 17  Robert Tonyan       60 non-null     float64
 18  T.J. Hockenson      45 non-null     float64
 19  Travis Kelce        79 non-null     float64
 20  Tyler Higbee        79 non-null     float64
 21  Zach Ertz           73 non-null     float64
dtypes: float64(22)
memory usage: 15.3 KB

In [354]:
# Empty list
te_train_ts = []
te_test_ts = []

# Return list of time series for each zipcode in our zip_list
for column in te_ts.columns.values:
        training_data = te_ts.loc[:'2021-01-03'][column].to_list()
        test_data = te_ts.loc['2021-09-06':][column].to_list()
        te_train_ts.append(training_data)
        te_test_ts.append(test_data)
        

te_test_ts

[[6.4,
  8.6,
  1.6,
  2.1,
  0.0,
  0.0,
  0.0,
  6.4,
  6.5,
  10.7,
  0.0,
  2.2,
  5.1,
  15.1,
  8.8,
  0.0,
  2.5],
 [1.0,
  9.2,
  2.1,
  1.6,
  4.2,
  8.9,
  9.3,
  5.4,
  14.7,
  0.0,
  2.2,
  14.5,
  7.1,
  4.7,
  13.1,
  8.9,
  5.5],
 [4.4,
  14.2,
  8.6,
  16.6,
  4.8,
  0.0,
  12.0,
  13.2,
  7.3,
  4.8,
  11.2,
  1.0,
  28.5,
  0.0,
  20.5,
  4.8,
  13.1],
 [3.8,
  10.5,
  26.0,
  17.8,
  13.9,
  12.9,
  0.0,
  3.1,
  9.4,
  2.4,
  11.3,
  15.6,
  9.3,
  1.4,
  20.7,
  22.2,
  11.4],
 [11.5,
  26.5,
  10.4,
  15.0,
  8.5,
  10.9,
  0.0,
  0.0,
  16.2,
  6.4,
  18.6,
  5.3,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 [3.8,
  10.6,
  0.0,
  3.7,
  27.9,
  1.6,
  3.8,
  6.9,
  8.8,
  2.1,
  4.1,
  12.5,
  0.0,
  0.0,
  5.9,
  0.0,
  12.8],
 [9.7,
  8.1,
  14.9,
  20.7,
  20.7,
  7.5,
  0.0,
  0.0,
  0.0,
  2.7,
  14.0,
  18.2,
  3.4,
  19.0,
  7.8,
  9.1,
  0.0],
 [0.0,
  0.0,
  2.1,
  7.4,
  9.5,
  5.4,
  10.4,
  10.5,
  12.8,
  0.0,
  3.2,
  6.7,
  10.1,
  1.8,
  7.3,
  11.7,
  2.2],
 [5.7,
  11.8,
  17.1,
  8.0,
  0.0,
  0.0,
  0.0,
  0.0,
  20.1,
  16.0,
  13.4,
  2.3,
  39.6,
  34.1,
  15.3,
  4.1,
  4.5],
 [1.3,
  10.0,
  10.4,
  0.0,
  0.0,
  6.0,
  5.3,
  1.2,
  0.0,
  14.3,
  6.7,
  14.7,
  0.7,
  10.8,
  10.0,
  16.8,
  6.6],
 [6.2,
  6.1,
  8.6,
  13.2,
  19.5,
  10.5,
  10.3,
  4.3,
  9.9,
  19.7,
  4.5,
  3.6,
  0.0,
  0.0,
  25.7,
  1.9,
  6.7],
 [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 [12.3,
  7.1,
  5.5,
  9.0,
  26.9,
  0.0,
  23.3,
  3.3,
  9.2,
  10.0,
  5.9,
  4.6,
  8.8,
  11.1,
  11.7,
  16.2,
  8.9],
 [10.7,
  5.0,
  15.9,
  11.7,
  41.7,
  17.8,
  7.8,
  0.0,
  9.4,
  18.3,
  15.3,
  16.5,
  9.0,
  28.5,
  35.6,
  26.5,
  14.9],
 [7.1,
  0.0,
  18.6,
  16.7,
  8.3,
  19.5,
  21.5,
  9.8,
  9.4,
  0.0,
  10.0,
  4.7,
  11.6,
  0.0,
  9.3,
  5.2,
  9.1],
 [13.3,
  12.2,
  3.5,
  16.6,
  5.0,
  24.7,
  8.9,
  2.8,
  0.0,
  10.9,
  0.0,
  4.2,
  7.3,
  9.1,
  10.7,
  6.0,
  21.2],
 [7.6,
  3.4,
  11.2,
  2.1,
  2.7,
  12.8,
  0.0,
  14.4,
  21.3,
  6.1,
  11.1,
  14.0,
  7.6,
  11.2,
  7.7,
  0.0,
  7.2],
 [14.2,
  2.8,
  1.6,
  2.8,
  1.8,
  3.0,
  16.3,
  7.9,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 [20.6,
  25.7,
  3.0,
  8.2,
  4.2,
  15.4,
  10.8,
  18.9,
  0.0,
  0.0,
  11.1,
  12.5,
  14.9,
  0.0,
  0.0,
  0.0,
  0.0],
 [23.9,
  25.6,
  17.4,
  6.3,
  17.7,
  17.9,
  13.5,
  4.7,
  17.8,
  19.9,
  18.8,
  0.0,
  5.7,
  5.7,
  41.1,
  0.0,
  13.4],
 [1.8,
  11.8,
  15.0,
  7.6,
  9.4,
  8.6,
  9.6,
  5.5,
  10.1,
  11.0,
  0.0,
  1.3,
  9.8,
  0.0,
  0.0,
  9.1,
  12.9],
 [1.6,
  5.4,
  15.3,
  12.0,
  1.7,
  12.9,
  16.0,
  8.2,
  5.7,
  8.6,
  28.8,
  0.0,
  2.0,
  9.2,
  13.4,
  13.4,
  11.1]]

In [355]:
te_train_ts[0]

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 6.5,
 13.0,
 7.9,
 1.7,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]